<script>
    let inputs = document.getElementsByTagName("input");
    let sels = document.getElementsByTagName("select");
    let textareas = document.getElementsByTagName("textarea");

    for (i of inputs){
        var itype = i.type.toLowerCase()
        if(itype == 'text' || itype == 'number' || itype == 'email' || itype == 'file') {
            i.classList.add("form-control");
        } else if (itype == 'checkbox') {
            i.classList.add("form-check-input");
        }
    }
    
    for (i of sels){
        i.classList.add("form-select");
    }
    
    for (t of textareas){
        t.classList.add("form-control");
    }
</script>