<form method="post" action="{% url 'like' post.pk %}" class="d-inline">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
        <button class="btn btn-outline-secondary fs-5" type="submit"><i class="fa fa-thumbs-up fs-5"></i> <span class="badge bg-primary">{{post.like_set.count}}</span></button>
    {% else %}
        <button type="button" class="btn btn-outline-secondary fs-5" data-bs-toggle="dropdown" aria-expanded="false">
            <ul class="dropdown-menu" style="padding:1rem;margin:2rem">
                You can like or dislike after you have logged in
            </ul>
            <i class="fa fa-thumbs-up fs-5"></i> <span class="badge bg-primary">{{post.dislike_set.count}}</span>
        </button>
    {% endif %}
</form>