{% extends "base.html" %}

{% block body %}
{% include "header.html" %}
<div class="bg-primary-subtle text-center text-secondary display-4 p-3 fw-bold lsp">
    <!--div><span class="d-inline-block bg-primary text-light fs-6 rounded">LingoLab's</span></div-->
    <div>LEADER BOARD</div>
</div>

<div class="container my-3">
    {% for user in users %}
        <div class="row align-items-center my-1">
            <div class="col-1 fs-4 fw-bold">{{forloop.counter}}</div>
            <div class="col-2"><img class="rounded-circle" src="{{user.user.profile.image.url}}" style="width:4rem;height:auto;"/></div>
            <div class="col-7 fs-3 fw-semibold">{% if user.user.first_name %}{{user.user.first_name}} {{user.user.last_name}}{% else %}{{user.user.username}}{% endif %}</div>
            <div class="col-2 fs-4">{{user.plan.0.2}} XP</div>
        </div>
        <hr>
    {% endfor %}
</div>

{% include "footer.html" %}
{% endblock body %}