{% extends 'base.html' %}

{% block title %}Login |{% endblock title %}

{% block body %}
<div class="position-absolute top-0 start-0 m-3"><button onclick="window.history.back()" class="btn text-secondary"><i class="fa-solid fs-3 fa-arrow-left"></i></button></div>

<div class="bg-check">
    <div class="bg-grd-gray font-public text-center text-primary pt-5 pb-3">
        <h1 class="fw-semibold">Sign In / Login</h1>
        <span class="bg-primary text-light px-2 py-1 rounded">Sign in to your account.</span>
    </div>
</div>

{% include 'messages.html' %}

<div class="container my-5">
    <div class="card card-body col-10 col-md-9 col-lg-6 mx-auto shadow">
        <form id="login_form" action="" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p>{{error}}</p>
                {% endfor %}
            {% endif %}
            
            {% for f in form %}
                <div class="mb-3">
                    <div class="text-secondary fw-semibold fs-8 mb-1">{{f.label_tag}}</div>
                    {{f}}
                    {% if f.errors %}
                    <script>//adding class is-invalid if found errors
                        let id = document.getElementById("{{f.id_for_label}}");
                        id.classList.add("is-invalid")
                        id.placeholder = "Please fill this. {{f.errors|striptags}}";
                    </script>
                {% endif %}
                </div>
            {% endfor %}
            
            <div class="d-flex justify-content-between mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="showpass" onclick="if(id_password.type==`password`){id_password.type=`text`}else{id_password.type=`password`}"/>
                <label class="form-check-label text-secondary small" for="showpass">Show Password</label>
            </div>
            <div>
                <a href="{% url 'password_reset' %}" class="small">Forgot Password?</a>
            </div>
            </div>
            
            <button type="submit" class="col-12 btn btn-primary mb-3">Sign In</button>
        </form>
        <div>Don't have an account yet? <a href="{% url 'sign_up' %}">Register here.</a></div>
    </div>
</div>


{% include 'footer.html' %}
{% endblock body %}