{% extends 'base.html' %}
{% block body %}
{% include 'static/css/styles.html' %}
{% include 'header.html' %}

{% include 'messages.html' %}

<div class="container my-5">    
    <h3><i class="fa-solid fa-dumbbell"></i> Exercise <i class="fa-solid fa-dumbbell"></i></h3>
    <hr>
    <b>Choose the correct word to fill the blanks</b> ({{post.fill_values}}):
    <div id="exercise" class="my-4 position-relative">
        <!-- Result Prompt <div class="hidden">
            <div id="intr">
                <div id="result">That was awesome!</div>
            </div>
        </div>-->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Result:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="modal-body" class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="questions">
            <ol>
                {% for q in post.exercise_set.all %}
                    <li class="mb-2">{{q.answer}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <button onclick="check()" class="btn btn-primary px-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Check</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-secondary px-4">Show answers</button>
        </div>
    </div>
    <hr>
    <div class="text-center">
    {% include 'static/components/like_dislike.html' %} {% include 'static/components/copy_to_clipboard.html' %}
    </div>
    <hr>
</div>


<form method="post">
    {% comment %} {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button> {% endcomment %}
</form>


<script>//highlighting the texts
    var target_vals = "{{post.fill_values}}".split(",");
    var element = document.getElementsByClassName("example");
    for (line in element) {
        for (tvx in target_vals) {
            line_patt = new RegExp(target_vals[tvx],"gi")
            element[line].innerHTML = element[line].innerHTML.replace(line_patt, `<span style='color:#0d6efd;'>${target_vals[tvx]}</span>`);
        }
    }
</script>

<script>//insert select element
    var q_arr = [];
    {//q_arr
        `{% for x in post.exercise_set.all %}
            ${q_arr.push('{{x.question}}')}
        {% endfor %}`;
    }
    var q_count = q_arr.length;//`{{post.exercise_set.count}}`; //length of questions
    
    var pre_values = [] //answer values
    for ( let x of q_arr ) {
        for ( let y of target_vals ) {
            if (x.toLowerCase().includes(y)) {
                pre_values.push(y)
            }
        }
    };

    var exercise = document.getElementById("exercise"); //parent element of questions
    var questions = exercise.getElementsByTagName("li"); //question elements array

    // RegExp
    var target_vals_join = target_vals.join("|");
    var reg_patt = new RegExp(target_vals_join,"gi")
    // end RegExp
    
    for (line in questions) {
        questions[line].innerHTML = questions[line].innerHTML.replace(reg_patt, sel());
        
        function sel(){
            var select = `<select id="q-${line}"><option selected="selected"></option>`
            for (let x of target_vals) {
                select += `<option value="${x}">${x}</option>`
            }
            select += `</select>`
            return ` ${select} `
        };
    }
</script>

<script>
    var val_array = [];
    var exam = 0;

    function check() {
        //getting selected option values of each select element
        for (let vl=0; vl < q_count; vl++) {
            var e = document.getElementById("q-"+vl);
            val_array.push(e.value)
            if (e.value == pre_values[vl]) { exam += 1 };
        }

        console.log(val_array.join("") == pre_values.join("")) // returns true or false based on 100% correct result


        //for BSModal
        q_arr_html = []
        for (q in q_arr){
            q = parseInt(q)
            res_class = val_array[q]==pre_values[q]?"text-success":"text-danger";
            res_ic = val_array[q]==pre_values[q]?`<i class="fa-solid fa-circle-check"></i>`:`<i class="fa-solid fa-circle-xmark"></i>`;
            q_arr_html.push(`<div class="${res_class}">${res_ic} ${q+1}. ${q_arr[q]}</div>`)
        }
        var exmod = document.getElementById("modal-body")
        exmod.innerHTML = `
            <div class="text-center">
                <div class="fs-3">You got ${exam} out of ${q_count}</div>
            </div>
            <hr>
            <div class="mb-4">${q_arr_html.join("")}</div>

        `;

        exam = 0;// reset the value
        val_array = [];

    }
</script>
<script src="/static/js/web/jquery-3.6.3.min.js"></script>
<script src="/static/js/web/bootstrap.bundle.min.js"></script>
{% endblock body %}