{% extends "base.html" %}

{% block body %}
{% include "header.html" %}

<div class="bg-gray-200 p-3">
    <div class="text-center display-5 fw-semibold text-learner pb-1">
        <i class="fa-solid fa-book"></i> Learning Groups
    </div>
</div>
<div class="rule pt-1 rounded-bottom"></div>

<div class="container">
    <div class="d-flex flex-column gap-3 my-5">
        <div class="card card-body">
            <h3>WhatsApp Groups</h3>
            <div>https://jfljsdflsj</div>
        </div>
        <div class="card card-body">
            <h3><i class="fa-solid fa-tele"></i> Telegram Groups</h3>
            <div>https://jfljsdflsj</div>
        </div>
    </div>
</div>

{% endblock body %}