{% extends "base.html" %}
{% block css %}
<style>
    #wordc{
        height: 100vh;
    }
    #wordsc .letterc{
        width: 4rem;
        height: 4rem;
        padding: 0.3rem;
    }
    .letter{
        width: 100%;
        max-width: 3.5rem;
        height: 100%;
        background-color: rgba(255,255,255,0.5);
        font-size: 3rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        border-radius: 0.3rem;
    }
    #ltr {
        --d: 3.5rem;
        /* image size */
        --rel: 1;
        /* how much extra space we want between images, 1 = one image size */
        --r: calc(.5*(0.5 + var(--rel))*var(--d)/var(--tan));
        /* circle radius */
        --s: calc(2*var(--r) + var(--d));
        /* container size */
        position: relative;
        width: var(--s);
        height: var(--s);
    }
    #ltr div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: calc(-.5*var(--d));
        width: var(--d);
        height: var(--d);
        --az: calc(var(--i)*1turn/var(--m));
        transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)));
    }
    .ltr{
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.3);
        color: #353535;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.3rem;
        cursor: pointer;
    }
</style>
{% endblock css %}
{% block body %}

<div id="wordc" class="d-flex flex-column flex-md-row">
    <div class="ts-circle bg-dark bg-opacity-50 shadow">
        <a href="/" class="text-light"><i class="fa-solid fa-arrow-left"></i></a>
    </div>

    <div id="words" class="col-12 col-md-8 d-flex justify-content-center align-items-center">
        <div id="wordsc" class="bg-dark bg-opacity-50 rounded">
        </div>
    </div>
    
    <div id="worde" class="col-12 col-md-4 d-flex flex-md-column justify-content-center align-items-center gap-2">
        <div class="bg-light bg-opacity-50 d-flex justify-content-center align-items-center rounded-circle mb-3" style="width:19rem;height:19rem;">
            <div id="ltr"></div>
        </div>

        <div class="text-center">
            <button id="check" class="btn btn-lg fw-bold btn-primary fs-4 lsp">CHECK</button>
            <!--input id="input" class="form-control" type="text" autofocus></input-->
        </div>
    </div>
</div>

<script>
    var wordc = document.getElementById("wordc");
    var wordsc = document.getElementById("wordsc");
    var input = document.getElementById("input");
    var check = document.getElementById("check");
    
    const levels = JSON.parse("{{game_db|escapejs}}");
    const level = {{level}};
    var len = [];
    var colors = ["#313131","#000080"];
    var bgs = ["hills.jpg","grass.jpg","chick.jpg"];

    function master(){
        wordc.style.background = "url(/static/img/bgs/"+bgs.sort(function () { return 0.5 - Math.random() })[0];
        wordc.style.backgroundPosition = "center";
        wordc.style.backgroundSize = "cover";

        let counter = 0;

        // resize container according to the columns and rows number
        if ((levels[level][2][1] < 5 || levels[level][2][0]) <5) wordsc.style.scale = "1.5";
        if ((levels[level][2][1] > 10 || levels[level][2][0]) >10) wordsc.style.scale = "0.8";

        // generating cells
        let letters = ``;
        for (let x = 0; x < levels[level][2][1]; x++){
            letters += `<div class="d-flex">`;
            for (let y = 0; y < levels[level][2][0]; y++){
                letters += `<div class="letterc"><div id="cell-${counter}"></div></div>`;
                counter ++;
            }
            letters += `</div>`;
        }
        wordsc.innerHTML = letters;

        // selection
        var ltr = document.querySelector("#ltr");

        //for (let x of levels[level][1]){
        //    ltr.innerHTML += `<div class="ltr">${x}</div>`;
        //}

        let n_imgs = levels[level][1].length;
        let has_mid = 0; /* 0 if there's no item in the middle, 1 otherwise */
        let m = n_imgs - has_mid; /* how many are ON the circle */
        let tan = Math.tan(Math.PI/m); /* tangent of half the base angle */

        ltr.setAttribute("style",`--m:${m};--tan: 0.41`);

        let ltrhtm = ``;
        for(let i = 0; i < n_imgs; i++)
            ltrhtm += `<div style=${i - has_mid >= 0 ?"--i:"+i:""}
            <div class="ltr" id="${levels[level][1][i]}">${levels[level][1][i]}</div></div>
        `;
        ltr.innerHTML = ltrhtm;
    }

    window.onload = master(level);

    // generating visible cells
    for (let x of levels[level][3]){
        if (x[2] == "v"){
            let col = 0;
            for (let i in x[0]){
                let cell = document.querySelector("#cell-"+(x[1]+col-1));
                cell.classList.add("letter","animate__animated");
                col += levels[level][2][0];
            }
        } else {
            for (let i = 0; i<x[0].length; i++){
                let cell = document.querySelector("#cell-"+(x[1]+i-1));
                cell.classList.add("letter","animate__animated");
            }
        }
    }

    // word input
    // input.addEventListener("change",function(){
    //     let value = this.value.toLowerCase();
    //     for (let x of levels[level][3]){
    //         if (len.includes(value)){
    //             alert("already found!!!");
    //             this.value = "";
    //             break;
    //         }
    //         let color = colors.sort(function () { return 0.5 - Math.random() })[0];
    //         if (x[0] == value){
    //             if (x[2] == "v"){
    //                 let col = 0;
    //                 for (let index in x[0]){
    //                     let cell = document.querySelector("#cell-"+(x[1]+col-1));
    //                     cell.classList.remove("animate__fadeIn");
    //                     cell.classList.add("animate__fadeIn");
    //                     cell.style.cssText = `animation-delay: 0.${index+3}s`;
    //                     cell.style.color = color;
    //                     cell.innerText = x[0][index];
    //                     col += levels[level][2][0];
    //                 }
    //             } else {
    //                 for (let i = 0; i<x[0].length; i++){
    //                     let cell = document.querySelector("#cell-"+(x[1]+i-1));
    //                     cell.classList.remove("animate__fadeIn");
    //                     cell.classList.add("animate__fadeIn");
    //                     cell.style.cssText = `animation-delay: 0.${i+3}s`;
    //                     cell.style.color = color;
    //                     cell.innerText = x[0][i];
    //                 }
    //             }
    //             len.push(value);
    //             if (len.length == levels[level][3].length) window.location.assign("?level="+(level+1));
    //             this.value = "";
    //             break;
    //         }
    //     }
    // });

    // button event
    let ltrs_arr = [];
    document.querySelectorAll(".ltr").forEach(ele => {
        ele.addEventListener("click", function(){
            let letter = this.innerText;
            ltrs_arr.push(letter);
            this.style.backgroundColor = "rgba(0,0,0,0.4)";

            if (ltrs_arr.length == levels[level][1].length){
                findWord();
                ltrs_arr = [];
                resColor();
            }
        });
    });
    
    // keyboard keyDown
    document.body.addEventListener("keydown", (e) => {
        let key = e.key.toLowerCase();
        if (key == "enter") check.click();
        //if (key == "backspace") check.click();
        if (key == "a") document.querySelector("#a").click();
        if (key == "b") document.querySelector("#b").click();
        if (key == "c") document.querySelector("#c").click();
        if (key == "d") document.querySelector("#d").click();
        if (key == "e") document.querySelector("#e").click();
        if (key == "f") document.querySelector("#f").click();
        if (key == "g") document.querySelector("#g").click();
        if (key == "h") document.querySelector("#h").click();
        if (key == "i") document.querySelector("#i").click();
        if (key == "j") document.querySelector("#j").click();
        if (key == "k") document.querySelector("#k").click();
        if (key == "l") document.querySelector("#l").click();
        if (key == "m") document.querySelector("#m").click();
        if (key == "n") document.querySelector("#n").click();
        if (key == "o") document.querySelector("#o").click();
        if (key == "p") document.querySelector("#p").click();
        if (key == "q") document.querySelector("#q").click();
        if (key == "r") document.querySelector("#r").click();
        if (key == "s") document.querySelector("#s").click();
        if (key == "t") document.querySelector("#t").click();
        if (key == "u") document.querySelector("#u").click();
        if (key == "v") document.querySelector("#v").click();
        if (key == "w") document.querySelector("#w").click();
        if (key == "x") document.querySelector("#x").click();
        if (key == "y") document.querySelector("#y").click();
        if (key == "z") document.querySelector("#z").click();
    });
    
    // check button
    check.addEventListener("click", function(){
        findWord();
    });

    function findWord(){
        let word = ltrs_arr.join("").toLocaleLowerCase();
        for (let x of levels[level][3]){
            if (len.includes(word)){
                alert("The word \""+word.toUpperCase()+"\" was already found!!!");
                ltrs_arr = [];
                resColor();
                break;
            }
            let color = colors.sort(function () { return 0.5 - Math.random() })[0];
            if (x[0] == word){
                if (x[2] == "v"){
                    let col = 0;
                    for (let index in x[0]){
                        let cell = document.querySelector("#cell-"+(x[1]+col-1));
                        cell.classList.remove("animate__fadeIn");
                        cell.classList.add("animate__fadeIn");
                        cell.style.cssText = `animation-delay: 0.${index+3}s`;
                        cell.style.color = color;
                        cell.innerText = x[0][index];
                        col += levels[level][2][0];
                    }
                } else {
                    for (let i = 0; i<x[0].length; i++){
                        let cell = document.querySelector("#cell-"+(x[1]+i-1));
                        cell.classList.remove("animate__fadeIn");
                        cell.classList.add("animate__fadeIn");
                        cell.style.cssText = `animation-delay: 0.${i+3}s`;
                        cell.style.color = color;
                        cell.innerText = x[0][i];
                    }
                }
                len.push(word);
                if (len.length == levels[level][3].length) window.location.assign("?level="+(level+1));
                ltrs_arr = [];
                resColor();
                break;
            }
        }
        ltrs_arr = [];
        resColor();
    };
    
    function resColor(){
        document.querySelectorAll(".ltr").forEach(ele => { ele.style.backgroundColor = "rgba(255,255,255,0.3)"});
    };
</script>
{% endblock body %}