{% extends "base.html" %}
{% block og %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.lingolab.in/"/>
    <meta property="og:title" content="Play Wordscapes | Game | LingoLab"/>
    <meta property="og:description" content="Play Wordscapes | Game | LingoLab"/>
    <meta property="og:site_name" content="LingoLab"/>
    <meta name="twitter:site" content="@lingolab">
    <meta name="twitter:creator" content="@lingolab">
    <meta name="twitter:title" content="Play Wordscapes | Game | LingoLab"/>
    <meta name="twitter:description" content="Play Wordscapes | Game | LingoLab">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:widgets:new-embed-design" content="on">
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta property="og:image" content="https://www.lingolab.in/static/img/lingo.png"/>
    <meta name="twitter:image:src" content="https://www.lingolab.in/static/img/lingo.png"/>
{% endblock og %}
{% block css %}
<style>
    #wordc{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: background 0.5s;
        overflow: hidden;
    }
    #wordsc{
        transition: scale 0.5s;
    }
    #wordsc .letterc{
        width: 4rem;
        height: 4rem;
        padding: 0.3rem;
    }
    .letter{
        width: 100%;
        max-width: 3.5rem;
        height: 100%;
        background-color: rgba(255,255,255,0.5);
        font-size: 3rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        border-radius: 0.3rem;
    }
    #ctr {
        --d: 1.5rem;
        /* image size */
        --rel: 1;
        /* how much extra space we want between images, 1 = one image size */
        --r: calc(.5*(0.5 + var(--rel))*var(--d)/var(--tan));
        /* circle radius */
        --s: calc(2*var(--r) + var(--d));
        /* container size */
        position: relative;
        width: var(--s);
        height: var(--s);
    }
    #ctr div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: calc(-.5*var(--d));
        width: var(--d);
        height: var(--d);
        --az: calc(var(--i)*1turn/var(--m));
        transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)));
    }
    #ltr {
        --d: 3.5rem;
        /* image size */
        --rel: 1;
        /* how much extra space we want between images, 1 = one image size */
        --r: calc(.3*(0.2 + var(--rel))*var(--d)/var(--tan));
        /* circle radius */
        --s: calc(2*var(--r) + var(--d));
        /* container size */
        position: relative;
        width: var(--s);
        height: var(--s);
    }
    #ltr div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: calc(-.5*var(--d));
        width: var(--d);
        height: var(--d);
        --az: calc(var(--i)*1turn/var(--m));
        transform: rotate(var(--az)) translate(var(--r)) rotate(calc(-1*var(--az)));
    }
    .ltr{
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.3);
        color: #353535;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.3rem;
        cursor: pointer;
    }
    #xmodal{
        position: fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        pointer-events: none;
        z-index: 3;
        transition: opacity 0.3s;
    }
    #xmodal.active {
        opacity: 1;
        pointer-events: initial;
        transition: opacity 0.3s;
    }
    #xmodal > #modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 60%;
        min-height: 55%;
        background: var(--bs-light);
        border-radius: 0.3rem;
        transform: translate(-50%, -50%);
    }
    .scene{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .scroll-none::-webkit-scrollbar{
        display: none;
        width: 0;
    }
</style>
{% endblock css %}
{% block body %}

<div id="mbar" class="position-absolute d-flex flex-row flex-md-column justify-content-between text-center bg-dark bg-opacity-50 text-light p-2 shadow" style="z-index: 3;">
    <button id="back" class="btn text-light"><i class="fa-solid fa-arrow-left"></i></button>
    <div id="points" class="d-flex justify-content-center align-items-center bg-dark bg-opacity-75 font-poppins px-2 py-1 rounded animate__animated">{{points}}</div>
    <button onclick="openFoundWords()" class="btn btn-light"><i class="fa-solid fa-font"></i></button>
</div>

<div id="wordc" class="d-flex flex-column flex-md-row bg-primary">
</div>

<div id="xmodal">
    <div id="modal-content" class="shadow">
    </div>
</div>

<script>
    var wordc = document.getElementById("wordc");
    var popup = document.querySelector("#popup");
    var points = document.querySelector("#points");
    var back = document.querySelector("#back");

    var mbd = new Audio("/static/music/music_birthday.ogg");
    var mbdm = new Audio("/static/music/music_birthday_menu.ogg");
    var success = new Audio("/static/music/success.mp3");
    var bonus = new Audio("/static/music/word_extra.ogg");
    var already = new Audio("/static/music/word_already.ogg");
    
    var lvs = JSON.parse("{{game_db|escapejs}}");
    var level = {{level}};
    var len = [[],[]];
    var colors = ["#313131","#000080"];
    var bgs = ["hills.jpg","grass.jpg","chick.jpg","bird.jpg"];
    var ltrs_arr = [];
    var ids_arr = [];

    function home(){
        back.setAttribute("onclick","window.location.assign('/english/games/')");
        wordc.style.background = "url(/static/img/bgs/wordscapes/hills.jpg";
        wordc.style.backgroundPosition = "center";
        wordc.style.backgroundSize = "cover";
        ltrs_arr = [];
        len = [[],[]];
        wordc.innerHTML=`
        <div id="play" class="position-absolute top-50 start-50 translate-middle d-flex flex-column justify-content-center align-items-center gap-3 font-poppins bg-dark bg-opacity-25 w-100 h-100 text-light">
            <div class="display-2">WORDSCAPES</div>
            <div onclick="master(${level})" class="fs-1 bg-dark bg-opacity-75 px-5 border border-3 cursor-pointer" style="border-radius:20px/50px">Play <i class="fa-solid fa-arrow-right fs-2"></i> <span class="btn btn-light">Level ${level}</span></div>
            <div onclick="levelSelect()" class="fs-3 bg-dark bg-opacity-75 px-5 border border-2 cursor-pointer" style="border-radius:20px/50px">Level Select</div>
        </div>`;
        mbd.load();
        mbdm.load();
        mbdm.play();
    }

    function levelSelect(){
        wordc.innerHTML = `
        <div class="scene">
        <div class="h-100 col-10 col-md-6 mx-auto overflow-scroll scroll-none py-5">
            <div class="card card-body bg-gray-200">
            <div class="d-flex flex-wrap justify-content-center gap-2 my-3">
                {% for level in level_map %}
                    <div onclick="window.location.assign('?level={{forloop.counter}}')" class="card card-body d-flex flex-column align-items-center col-3 text-bg-primary cursor-pointer">
                        <div class="fs-4">Level {{forloop.counter}}</div>
                        <div id="ctr" style="--m:{{level|length}};--tan: 0.41">{% for l in level %}<div style="--i:{{forloop.counter0}}">{{l}}</div>{% endfor %}</div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
        </div>
        `;
        back.setAttribute("onclick","home()");
    }
    //function success(){}

    function master(){
        openFullscreen();
        back.setAttribute("onclick","home()");
        wordc.style.background = "url(/static/img/bgs/wordscapes/"+bgs.sort(function () { return 0.5 - Math.random() })[0];
        wordc.style.backgroundPosition = "center";
        wordc.style.backgroundSize = "cover";

        let counter = 0;

        wordc.innerHTML = `
            <div id="words" class="col-12 col-md-8 d-flex justify-content-center align-items-center animate__animated animate__fadeInLeft">
                <div id="wordsc" class="bg-dark bg-opacity-50 rounded shadow">
                </div>
            </div>
            <div id="worde" class="col-12 col-md-4 d-flex flex-md-column justify-content-center align-items-center animate__animated animate__fadeInRight">
                <div class="bg-white bg-opacity-50 d-flex justify-content-center align-items-center rounded-circle mb-3 shadow" style="width:19rem;height:19rem;">
                    <div id="ltr"></div>
                </div>
        
                <div class="d-none d-lg-block text-center">
                    <button id="check" class="btn btn-lg fw-bold btn-primary fs-4 lsp shadow">CHECK</button>
                    <!--input id="input" class="form-control" type="text" autofocus></input-->
                </div>
            </div>
            {% include "static/components/particles.html" %}
        `;
        var wordsc = document.getElementById("wordsc");
        var check = document.getElementById("check");
        //var input = document.getElementById("input");

        resize();

        // generating cells
        let letters = ``;
        for (let x = 0; x < lvs[2][1]; x++){
            letters += `<div class="d-flex">`;
            for (let y = 0; y < lvs[2][0]; y++){
                letters += `<div class="letterc"><div id="cell-${counter}"></div></div>`;
                counter ++;
            }
            letters += `</div>`;
        }
        wordsc.innerHTML = letters;

        // generating visible cells
        for (let x of lvs[3]){
            x = x.split(",");
            let start_cell = parseInt(x[0])+(parseInt(x[1])*lvs[2][0]);
            if (x[2][0] == "V"){
                let col = 0;
                for (let i in x[3]){
                    let cell = document.querySelector("#cell-"+(start_cell+col));
                    cell.classList.add("letter","animate__animated","animate__faster");
                    col += lvs[2][0];
                }
            } else {
                for (let i = 0; i<x[3].length; i++){
                    let cell = document.querySelector("#cell-"+(start_cell+i));
                    cell.classList.add("letter","animate__animated","animate__faster");
                }
            }
        }

        // selection
        {
            var ltr = document.querySelector("#ltr");
            
            let n_imgs = lvs[1].length;
            let has_mid = 0; /* 0 if there's no item in the middle, 1 otherwise */
            let m = n_imgs - has_mid; /* how many are ON the circle */
            //let tan = Math.tan(Math.PI/m); /* tangent of half the base angle */

            ltr.setAttribute("style",`--m:${m};--tan: 0.40`);

            let ltrhtm = ``;
            let duplet = [];
            for(let i = 0; i < n_imgs; i++){
                let lett = lvs[1][i].toLocaleLowerCase();
                ltrhtm += `<div style=${i - has_mid >= 0 ?"--i:"+i:""}><div class="ltr" id="${duplet.includes(lett)?lett+lett:lett}">${lett}</div></div>`;
                duplet.push(lett);
            }
            ltr.innerHTML = ltrhtm;
            //ltr.addEventListener("mousemove", (e) => {
            //    let ele = document.elementFromPoint(e.clientX,e.clientY);
            //    console.log(ele.id);
            //});
        }

        // word text-input
        {
            // input.addEventListener("change",function(){
            //     let value = this.value.toLowerCase();
            //     for (let x of lvs[3]){
            //         if (len.includes(value)){
            //             alert("already found!!!");
            //             this.value = "";
            //             break;
            //         }
            //         let color = colors.sort(function () { return 0.5 - Math.random() })[0];
            //         if (x[0] == value){
            //             if (x[2] == "v"){
            //                 let col = 0;
            //                 for (let index in x[0]){
            //                     let cell = document.querySelector("#cell-"+(x[1]+col-1));
            //                     cell.classList.remove("animate__fadeIn");
            //                     cell.classList.add("animate__fadeIn");
            //                     cell.style.cssText = `animation-delay: 0.${index+3}s`;
            //                     cell.style.color = color;
            //                     cell.innerText = x[0][index];
            //                     col += lvs[2][0];
            //                 }
            //             } else {
            //                 for (let i = 0; i<x[0].length; i++){
            //                     let cell = document.querySelector("#cell-"+(x[1]+i-1));
            //                     cell.classList.remove("animate__fadeIn");
            //                     cell.classList.add("animate__fadeIn");
            //                     cell.style.cssText = `animation-delay: 0.${i+3}s`;
            //                     cell.style.color = color;
            //                     cell.innerText = x[0][i];
            //                 }
            //             }
            //             len.push(value);
            //             if (len.length == lvs[3].length) window.location.assign("?level="+(level+1));
            //             this.value = "";
            //             break;
            //         }
            //     }
            // });
        }

        // button click
        document.querySelectorAll(".ltr").forEach(ele => {
            ele.addEventListener("click", function(){
                let letter = this.innerText;
                ltrs_arr.push(letter);
                ids_arr.push(this.id);
                this.style.backgroundColor = "rgba(0,0,0,0.4)";

                if (ltrs_arr.length == lvs[1].length){
                    findWord();
                    ltrs_arr = [];
                    resColor();
                }
            });
        });

        
        // check button
        check.addEventListener("click", function(){
            findWord();
        });

        window.addEventListener("resize",resize);

        mbdm.load();
        mbd.load();
        mbd.play();
    }

    // keyboard keyDown
    document.body.addEventListener("keydown", (e) => {
        let key = e.key.toLowerCase();
        if (key == "enter") check.click();
        if (key == "backspace"){
            ltrs_arr = [];
            resColor();
        };
        if (ltrs_arr.includes(e.key.toUpperCase())){
            if (key == "a") document.querySelector("#aa").click();
            if (key == "b") document.querySelector("#bb").click();
            if (key == "c") document.querySelector("#cc").click();
            if (key == "d") document.querySelector("#dd").click();
            if (key == "e") document.querySelector("#ee").click();
            if (key == "f") document.querySelector("#ff").click();
            if (key == "g") document.querySelector("#gg").click();
            if (key == "h") document.querySelector("#hh").click();
            if (key == "i") document.querySelector("#ii").click();
            if (key == "j") document.querySelector("#jj").click();
            if (key == "k") document.querySelector("#kk").click();
            if (key == "l") document.querySelector("#ll").click();
            if (key == "m") document.querySelector("#mm").click();
            if (key == "n") document.querySelector("#nn").click();
            if (key == "o") document.querySelector("#oo").click();
            if (key == "p") document.querySelector("#pp").click();
            if (key == "q") document.querySelector("#qq").click();
            if (key == "r") document.querySelector("#rr").click();
            if (key == "s") document.querySelector("#ss").click();
            if (key == "t") document.querySelector("#tt").click();
            if (key == "u") document.querySelector("#uu").click();
            if (key == "v") document.querySelector("#vv").click();
            if (key == "w") document.querySelector("#ww").click();
            if (key == "x") document.querySelector("#xx").click();
            if (key == "y") document.querySelector("#yy").click();
            if (key == "z") document.querySelector("#zz").click();
        } else {
            if (key == "a") document.querySelector("#a").click();
            if (key == "b") document.querySelector("#b").click();
            if (key == "c") document.querySelector("#c").click();
            if (key == "d") document.querySelector("#d").click();
            if (key == "e") document.querySelector("#e").click();
            if (key == "f") document.querySelector("#f").click();
            if (key == "g") document.querySelector("#g").click();
            if (key == "h") document.querySelector("#h").click();
            if (key == "i") document.querySelector("#i").click();
            if (key == "j") document.querySelector("#j").click();
            if (key == "k") document.querySelector("#k").click();
            if (key == "l") document.querySelector("#l").click();
            if (key == "m") document.querySelector("#m").click();
            if (key == "n") document.querySelector("#n").click();
            if (key == "o") document.querySelector("#o").click();
            if (key == "p") document.querySelector("#p").click();
            if (key == "q") document.querySelector("#q").click();
            if (key == "r") document.querySelector("#r").click();
            if (key == "s") document.querySelector("#s").click();
            if (key == "t") document.querySelector("#t").click();
            if (key == "u") document.querySelector("#u").click();
            if (key == "v") document.querySelector("#v").click();
            if (key == "w") document.querySelector("#w").click();
            if (key == "x") document.querySelector("#x").click();
            if (key == "y") document.querySelector("#y").click();
            if (key == "z") document.querySelector("#z").click();
        }
    });
    // touchMove
    document.body.addEventListener("touchmove", (e) => {
        e.preventDefault();
        let ele = document.elementFromPoint(e.touches[0].clientX,e.touches[0].clientY);
        //let eleText = ele.innerText;
        if (ids_arr.includes(ele.id) == false) ele.click();
        //}else{if (ids_arr.includes(eleText.toLowerCase()+eleText.toLowerCase()) == false) document.querySelector("#"+eleText.toLowerCase()+eleText.toLowerCase()).click()
    });
    // touchEnd
    document.body.addEventListener("touchend", (e) => {
        findWord();
    });

    //window.onload = master(level);
    window.onload = home();

    function findWord(){
        let word = ltrs_arr.join("").toLocaleLowerCase();
        let lin = [];
        for (let x of lvs[3]){
            if (len[0].includes(word)){
                already.load();
                already.play();
                for (let x of len[1][len[0].indexOf(word)]){
                    let alf = document.querySelector("#cell-"+x);
                    alf.classList.add("animate__shakeX");
                    alf.addEventListener("animationend",()=>{
                        alf.classList.remove("animate__shakeX");
                    });
                }
                ltrs_arr = [];
                ids_arr = [];
                resColor();
                break;
            }
            let color = colors.sort(function () { return 0.5 - Math.random() })[0];
            x = x.split(",");
            if (x[3].toLocaleLowerCase() == word){
                success.load();
                success.play();
                let start_cell = parseInt(x[0])+(parseInt(x[1])*lvs[2][0]);
                if (x[2][0] == "V"){
                    let col = 0;
                    for (let index in x[3]){
                        let cell = document.querySelector("#cell-"+(start_cell+col));
                        cell.style.animationDelay = `0.${index+1}s`;
                        cell.classList.add("animate__fadeInUp");
                        cell.style.backgroundColor = "rgba(0,0,0,0.5)";
                        cell.style.color = "#f1f1f1";
                        //index == "0" ? cell.style.fontWeight = "bold":"";
                        cell.innerText = x[3][index];
                        cell.addEventListener("animationend",()=>{
                            cell.classList.remove("animate__fadeInUp");
                        });
                        lin.push(start_cell+col);
                        col += lvs[2][0];
                    }
                } else {
                    for (let i = 0; i<x[3].length; i++){
                        let cell = document.querySelector("#cell-"+(start_cell+i));
                        cell.style.animationDelay = `0.${i+1}s`;
                        cell.classList.add("animate__fadeInRight");
                        cell.style.backgroundColor = "rgba(0,0,0,0.5)";
                        cell.style.color = "#f1f1f1";
                        //i == 0 ? cell.style.fontWeight = "bold":"";
                        cell.innerText = x[3][i];
                        cell.addEventListener("animationend",()=>{
                            cell.classList.remove("animate__fadeInRight");
                        });
                        lin.push(start_cell+i);
                    }
                }
                len[0].push(word);
                len[1].push(lin);
                if (len[0].length == lvs[3].length){
                    // success screen
                    document.querySelector("#cell-"+lin[0]).addEventListener("animationend",()=>{
                        //window.location.assign("?level="+(level+1));
                        setLevel(level+1);
                    });
                }
                ltrs_arr = [];
                ids_arr = [];
                resColor();
                setPoints(word.length);
                break;
            }
        }
        ltrs_arr = [];
        ids_arr = [];
        resColor();
    };
    function openFoundWords(){
        let words = len[0];
        let modal = document.querySelector("#xmodal");
        modal.classList.add("active");

        modal.addEventListener("click",(e)=>{
            if (e.target == modal) modal.classList.remove("active");
        });
    }
    function resColor(){
        document.querySelectorAll(".ltr").forEach(ele => { ele.style.backgroundColor = "rgba(255,255,255,0.3)"});
    };
    function resize(){
        // resize container according to the columns and rows number
        if (lvs[2][1] < 5 || lvs[2][0] < 5){
            wordsc.style.scale = "1.4";
        } else if (lvs[2][1] < 9 || lvs[2][0] < 9){
            wordsc.style.scale = "0.8";
        } else if (lvs[2][1] > 8 || lvs[2][0] > 8){
            if (lvs[2][1] > 13 || lvs[2][0] > 13){
                if (window.innerWidth < 700){
                    wordsc.style.scale = "0.4";
                } else {
                    wordsc.style.scale = "0.7";
                }
            } else {
                if (window.innerWidth < 700){
                    wordsc.style.scale = "0.5";
                } else {
                    wordsc.style.scale = "0.7";
                }
            }
        }
    };
    function setLevel(lv){
        let xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            lvs = JSON.parse(this.responseText);
            level = lv;
            home();
        }
        xhttp.open("GET","{% url 'wordscapes' %}?key=level&val="+lv, true);
        //xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded"); // required with POST request
        xhttp.send(); //xhttp.send(`csrfmiddlewaretoken={{csrf_token}}&data=${JSON.stringify(entry).replaceAll("&","ampp")}`);
    };
    function setPoints(val){
        let xhttp = new XMLHttpRequest();
        xhttp.onload = ()=>{
            points.classList.remove("animate__jello");
            points.classList.add("animate__jello");
            points.innerText = xhttp.responseText;
        }
        xhttp.open("GET","{% url 'set_plan' %}?key=games&game=wordscapes&val="+val, true);
        //xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded"); // required with POST request
        xhttp.send(); //xhttp.send(`csrfmiddlewaretoken={{csrf_token}}&data=${JSON.stringify(entry).replaceAll("&","ampp")}`);
    };
    function linedraw(ax, ay, bx, by) {
        if (ay > by) {
            bx = ax + bx;
            ax = bx - ax;
            bx = bx - ax;
            by = ay + by;
            ay = by - ay;
            by = by - ay;
        }
        var calc = Math.atan((ay - by) / (bx - ax));
        calc = calc * 180 / Math.PI;
        var length = Math.sqrt((ax - bx) * (ax - bx) + (ay - by) * (ay - by));
        document.body.innerHTML += "<div id='line' style='height:" + length + "px;width:1px;background-color:black;position:absolute;top:" + (ay) + "px;left:" + (ax) + "px;transform:rotate(" + calc + "deg);-ms-transform:rotate(" + calc + "deg);transform-origin:0% 0%;-moz-transform:rotate(" + calc + "deg);-moz-transform-origin:0% 0%;-webkit-transform:rotate(" + calc + "deg);-webkit-transform-origin:0% 0%;-o-transform:rotate(" + calc + "deg);-o-transform-origin:0% 0%;'></div>";
    }
    function openFullscreen(){
        let elem = document.documentElement;
        if (elem.requestFullscreen){
            elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen){
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen){
            elem.msRequestFullscreen();
        }
    };
</script>
{% endblock body %}