{% extends 'base.html' %}

{% block title %} Collocation Entry {% endblock title %}

{% block body %}

  {% include 'messages.html' %}

  <div class="position-absolute top-0 start-0 m-3">
    <button class="btn btn-outline-secondary" onclick="window.location.assign('/')">
      <i class="fa-solid fa-house fs-4"></i>
    </button>
  </div>

  <form action="{% if edit %}{% url 'collocation_edit' %}?word_id={{request.GET.word_id}}{% else %}{% url 'collocation_entry' %}?lang={{request.GET.lang}}{% endif %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container my-5">
      <!-- entry -->
      <div class="row mb-3">
        <div class="row col-4">
          <!-- word -->
          <div class="col-12 mb-2">
            {{form.word.label_tag}}
            <input type="text" class="form-control" name="word" value="{% if edit %}{{form.word.value}}{% else %}{{word|default:''}}{% endif %}" id="id_word"></input>
            {{form.word.errors}}
          </div>
          <!-- pos -->
          <div class="col-12 mb-2">
            <label for="pos">POS:</label>
            <select class="form-select" name="pos">
                <option value="">--</option>
                <option value="noun" {% if pos == 'noun' or form.pos.value == 'noun' %}selected{% endif %}>noun</option>
                <option value="verb" {% if pos == 'verb' or form.pos.value == 'verb' %}selected{% endif %}>verb</option>
                <option value="phrasal verb" {% if pos == 'phrasal verb' or form.pos.value == 'phrasal verb' %}selected{% endif %}>phrasal verb</option>
                <option value="adjective" {% if pos == 'adjective' or form.pos.value == 'adjective' %}selected{% endif %}>adjective</option>
                <option value="phrase" {% if pos == 'phrase' or form.pos.value == 'phrase' %}selected{% endif %}>phrase</option>
                <option value="idiom" {% if pos == 'idiom' or form.pos.value == 'idiom' %}selected{% endif %}>idiom</option>
                <option value="adverb" {% if pos == 'adverb' or form.pos.value == 'adverb' %}selected{% endif %}>adverb</option>
                <option value="preposition" {% if pos == 'preposition' or form.pos.value == 'preposition' %}selected{% endif %}>preposition</option>
                <option value="conjunction" {% if pos == 'conjunction' or form.pos.value == 'conjunction' %}selected{% endif %}>conjunction</option>
                <option value="exclamation" {% if pos == 'exclamation' or form.pos.value == 'exclamation' %}selected{% endif %}>exclamation</option>
                <option value="slang" {% if pos == 'slang' or form.pos.value == 'slang' %}selected{% endif %}>slang</option>
                <option value="abbreviation" {% if pos == 'abbreviation' or form.pos.value == 'abbreviation' %}selected{% endif %}>abbreviation</option>
            </select>
          </div>
        </div>

        <div class="row col-8 p-0 mb-0">
          <div class="col-12">
            {{form.usage.label_tag}}
            <input type="text" class="form-control" name="usage" value="{% if edit %}{{form.usage.value}}{% else %}{{usage|default:''}}{% endif %}" id="id_usage"></input>
            {{form.usage.errors}}
          </div>
        </div>
      </div>

      <!-- Entry Pos -->
      <div id="entry" class="row mb-3">
        
        {% if edit %}
          {% if form.fields %}
            <hr>
            {% for x in fields %}
              <div class="col-12 mb-3">
                <label for="entry_pos_{{forloop.counter0}}">Entry POS:</label>
                <input type="text" class="form-control" name="entry_pos_{{forloop.counter0}}" value="{{x.entry_pos}}" id="id_entry_pos_{{forloop.counter0}}"></input>

              </div>

              <div class="col-4 mb-3">
                <label for="context_{{forloop.counter0}}">Context:</label>
                <textarea class="form-control" name="context_{{forloop.counter0}}" id="id_context_{{forloop.counter0}}" rows="3">{{x.context}}</textarea>
              </div>
      
              <div class="col-8 mb-3">
                <label for="examples_{{forloop.counter0}}">Examples:</label>
                <textarea class="form-control" rows="3" name="examples_{{forloop.counter0}}" id="id_examples_{{forloop.counter0}}">{{x.examples}}</textarea>
              </div>
            {% endfor %}
          {% endif %}
        {% endif %}
      </div>

      <div class="row">
        <div class="col">
          <button id="addBtn" type="button" class="btn btn-secondary text-white">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>

        <div class="col text-end mb-2">
          <input type="submit" value="Submit" class="btn btn-success"/>
        </div>
      </div>
    </div>
  </form>

  <script>//Add Entry
    let worde = document.getElementById("id_word");
    let word = worde.value;
    let btn = document.getElementById("addBtn");
    let entry = document.getElementById("entry");

    worde.onchange = (e)=> {
      word = e.target.value;
    }

    btn.addEventListener("click", function(){
      addEntry();
    });

    var elems = {{fields.2.context|length}} > 0 ? 3 : {{fields.1.context|length}} > 0 ? 2 : {{fields.0.context|length}} > 0 ? 1 : 0;
    
    function addEntry(){
      let option = `
        <hr>
        <div class="col-12 mb-3">
          <label for="entry_pos_${elems}">Entry POS ${elems}:</label>
          <select class="form-select" name="entry_pos_${elems}" id="id_context_${elems}">
            <option value="">--</option>
            <option value="noun">noun</option>
            <option value="noun+${word}">noun+${word}</option>
            <option value="verb">verb</option>
            <option value="verb+${word}">verb+${word}</option>
            <option value="${word}+verb">${word}+verb</option>
            <option value="phrasal verb"endif %}>phrasal verb</option>
            <option value="adjective">adjective</option>
            <option value="phrase">phrase</option>
            <option value="idiom">idiom</option>
            <option value="adverb">adverb</option>
            <option value="preposition">preposition</option>
            <option value="conjunction">conjunction</option>
            <option value="exclamation">exclamation</option>
            <option value="slang">slang</option>
            <option value="abbreviation">abbreviation</option>
          </select>
        </div>

        <div class="col-4 mb-3">
          <label for="example_${elems}">Example Heading:</label>
          <textarea class="form-control" name="context_${elems}" id="id_context_${elems}" rows="3"></textarea>
        </div>

        <div class="col-8 mb-3">
          <label for="examples_${elems}">Example Sentences:</label>
          <textarea class="form-control" rows="3" name="examples_${elems}" id="id_examples_${elems}"></textarea>
        </div>
      `;
      entry.insertAdjacentHTML("beforeend",option);
      elems++;
    }
  </script>
{% endblock body %}