{% extends 'base.html' %}
{% block head %}
{% endblock head %}
{% block body %}
{% include 'header.html' %}
{% include 'english/flashcards/styles/flashcards.html' %}

<div class="bg-polka-learner-sm animation-polka-glow">
    <div class="bg-white bg-opacity-75 text-primary text-center p-4">
        <span class="display-4 fw-semibold learner"><i class="fa-solid fa-book"></i> Lingo's Dictionary</span>
    </div>
    <div class="rule pt-1 rounded-bottom"></div>
</div>

{% include "messages.html" %}

{% if not request.GET.q %}
    {% include "iht" %}
{% endif %}

<!-- search -->
<div class="container my-5">
    <div class="swrapper col-10 col-md-8">
        <div class="search-input">
            <input type="search" name="q" placeholder="Type to search..." value="{{request.GET.q}}" autocomplete="off"/>
            <div id="subox" class="autocom-box mt-1 rounded-bottom shadow">
                <!-- here list is inserted from javascript -->
            </div>
            <a><div class="icon"><i class="fas fa-search"></i></div></a>
        </div>

        <div class="card w-50 mx-auto my-2">
            <div class="card-body bg-gray-200 py-1">
                <div class="row align-items-center">
                    <div class="col-auto">Filter:</div>
                    <div class="col">
                        <select id="filter" name="in" class="form-select form-select-sm" aria-label="Default select example">
                            <option value="" selected>---------</option>
                            <option value="a1"{%if request.GET.filter == "a1" %} selected{% endif %}>A1</option>
                            <option value="a2"{%if request.GET.filter == "a2" %} selected{% endif %}>A2</option>
                            <option value="b1"{%if request.GET.filter == "b1" %} selected{% endif %}>B1</option>
                            <option value="b2"{%if request.GET.filter == "b2" %} selected{% endif %}>B2</option>
                            <option value="c1"{%if request.GET.filter == "c1" %} selected{% endif %}>C1</option>
                            <option value="c2"{%if request.GET.filter == "c2" %} selected{% endif %}>C2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- advanced search options here -->

{% if request.GET.q %}
    <div class="text-center mb-3">
        Showing results for 
        <span class="text-primary">&quot;{{request.GET.q}}&quot;</span> 
        ({{wordscount}} entries found)<br>
        {% if request.GET.filter %}
            <span class="text-primary">try removing filter for more results.</span>
        {% endif %}
    </div>
{% endif %}

<!-- table -->
{% if wordsp %}
<div class="container mb-5">
    <div class="col-11 col-lg-8 mx-auto">
        <table id="" class="table table-hover shadow-sm rounded overflow-hidden">
            <thead class="">
                <tr class="border-primary">
                    <th class="px-4 text-primary" style="width:85%;">Word</th>
                    <th class="text-primary" style="width:15%;"></th>
                </tr>
            </thead>
            <tbody>
                {% for word in wordsp %}
                    <tr>
                        <td {% if word.senses|length < 2 %}onclick="window.location.assign(`{% url "word" word.pk %}`)" {% else %} data-bs-toggle="modal" data-bs-target="#wModal{{word.pk}}"{% endif %}>
                            <span class="ps-3">{{word.word}}</span>
                            {% if word.pos %}<span class="text-secondary fst-italic">({{word.pos}})</span>{% endif %} 
                            {% if word.cefr %}<span class="badge text-uppercase text-bg-primary bg-opacity-100 ms-2">{{word.cefr}}</span>{% endif %}
                        </td>
                        <td class="">
                            {% if usr in word.rvdata.keys %}
                            <button title="Already added" class="fav btn btn-danger fs-6 px-2 py-1" onclick="window.location.assign('/english/datamain?data=remove&word={{word.id}}&sense=0')"><i class="fa-solid fa-heart"></i></button>
                            {% else %}
                            <button title="Add to word list" class="fav btn btn-outline-primary fs-6 px-2 py-1" onclick="window.location.assign('/english/datamain?data=fav&word={{word.id}}&sense=0')"><i class="fa-regular fa-plus"></i> <i class="fa-solid fa-list"></i></button>
                            {% endif %}
                        </td>
                    </tr>

                    <div class="modal fade animate__animated" id="wModal{{word.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-white p-0 border border-5">
                            <div class="position-sticky top-0 bg-light modal-header px-4 py-2 m-0" style="translate:0 -1px;z-index:1;">
                                <div class="modal-title" id="wModalLabel">
                                    <div id="word" class="col-auto text-primary d-inline">
                                        {{word.word}}
                                    </div>
                                    <div id="pos" class="col-auto text-secondary d-inline-block">
                                        {{word.pos}}
                                    </div>
                                    {% if word.cefr %}
                                        <div id="grade" class="col-auto d-inline-block fs-5 text-uppercase px-2">
                                            {{word.cefr}}
                                        </div>
                                    {% endif %}
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="fs-7 text-bg-secondary bg-opacity-50 p-2"><span class="d-block animate__animated animate__shakeX">click on a definition for more details</span></div>
                            <div class="modal-body p-4">
                                <div><a href="{% url "word" word.pk %}" class="btn btn-outline-primary fs-8 px-1 py-0">show all senses</a></div>
                                {% for sense in word.senses %}
                                    <div class="cursor-pointer ps-3 py-3 hover-gray" onclick="window.location.assign(`{% url "words" word.pk forloop.counter0 %}`)">
                                        <div style="font-size:0.8rem;">
                                            <span class="badge text-uppercase text-bg-primary bg-opacity-100">sense {{sense.0}}</span>
                                            <span class="badge text-uppercase text-bg-secondary bg-opacity-100">{{sense.2}}</span>
                                        </div>
                                        {% if sense.1 %}<div class="fs-5">({{sense.1}})</div>{% endif %}
                                        <div>{{sense.9.en.0.0}}</div>
                                    </div>
                                    {% if not forloop.last %}<hr class="my-0">{% endif %}
                                {% endfor %}
                            </div>
                            <!--div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div-->
                        </div>
                        </div>
                    </div>
                {% endfor %} 
            </tbody>
            <tfoot>
                <tr>
                    <th class="fs-7 text-secondary">PAGE {{request.GET.page|default:"1"}} of {{wordsp.paginator.num_pages}}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        
        <div id="pagination" class="d-flex justify-content-center"></div>
    </div>
</div>
{% endif %}
<div class="mb-5"></div>

<script>// modal animator
    //$('td').on('click',function(){
    //    let mod = document.querySelector(this.getAttribute("data-bs-target"));
    //    mod.classList.add("animate__fadeIn");
    //});

    //$('.modal').on('show.bs.modal',function(){
    //    $('.modal').addClass('animate__tada')
    //});
</script>
<script>// Page Numbers
    let pageEle = document.getElementById("pagination");
    let totalPages = {{wordsp.paginator.num_pages}};
    let currentPage = {{request.GET.page|default:"1"}};
    let pages = ``;
    pages += `<nav aria-label="..."><ul class="pagination">`;
    {//if has Previous
        `{% if wordsp.has_previous %}
            ${pages += '<li class="page-item"><a class="page-link" href="?q={{request.GET.q}}&filter={{request.GET.filter}}&page={{ wordsp.previous_page_number }}" accesskey="z">Previous</a></li>'}
        {% else %}
            ${pages += '<li class="page-item disabled"><span class="page-link">Previous</span></li>'}
        {% endif %}`;
    }
    {//first page
        if (currentPage>3){
            pages += '<li class="page-item"><a class="page-link" href="?q={{request.GET.q}}&filter={{request.GET.filter}}&page=1">&laquo;</a></li>';
        }
    }
    // middle pages
    for (let x = currentPage-2; x < currentPage+3; x++){
        if (x<1 || x>totalPages){continue;}
        if (x==currentPage){
            pages += `<li class="page-item active"><a class="page-link" href="?q={{request.GET.q}}&filter={{request.GET.filter}}&page=${x}">${x}</a></li>`;
        }else{
            pages += `<li class="page-item"><a class="page-link" href="?q={{request.GET.q}}&filter={{request.GET.filter}}&page=${x}">${x}</a></li>`;
        }
    }
    //last page
    if (currentPage<totalPages-2){
        pages += '<li class="page-item"><a class="page-link" href="?q={{request.GET.q}}&filter={{request.GET.filter}}&page={{ wordsp.paginator.num_pages }}">&raquo;</a></li>';
    }
    {//if has Next
        `{% if wordsp.has_next %}
            ${pages += '<li class="page-item"><a class="page-link" href="?page={{ wordsp.next_page_number }}&q={{request.GET.q}}&filter={{request.GET.filter}}" accesskey="x">Next</a></li>'}
        {% else %}
            ${pages += '<li class="page-item disabled"><span class="page-link">Next</span></li>'}
        {% endif %}`;
    }
    pages += `</ul></nav>`;
    pageEle.innerHTML = pages;
</script>

{% if perms.languages.add_word %}
    <div class="position-fixed bottom-0 right-0 m-3" style="z-index:1;">
        <a href="{% url 'word_entry' %}" class="btn btn-secondary text-white">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
{% endif %}

<script src="/static/js/suggsh.js"></script>
<script>
    //let suggsh = {% include "english/dictionary/suggsh.json" %};

    // getting all required elements
    const searchWrapper = document.querySelector(".search-input");
    const inputBox = searchWrapper.querySelector("input");
    const suggBox = searchWrapper.querySelector(".autocom-box");
    const icon = searchWrapper.querySelector(".icon");
    var linkTag = searchWrapper.querySelector("a");
    var webLink;
    var currentFocus = -1;
    var scval = 0;
    var filt = document.getElementById("filter");

    // if user press any key and release
    filt.onchange = ()=>{
        window.location.assign('?q='+inputBox.value+'&filter='+filt.value);
    }
    inputBox.onkeyup = (e)=>{
        let userData = e.target.value; //user enetered data

        /*execute a function presses a key on the keyboard:*/
        var x = document.getElementById("subox");
        if (x) x = x.getElementsByTagName("li");
        if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);

            //scroll on keydown
            if (currentFocus>4){
                scval += 47;
                suggBox.scrollTo(0, scval);
            } else if (currentFocus==0){
                scval = 0;
                suggBox.scrollTo(0, 0);
            }
        } else if (e.keyCode == 38) {
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
            //scroll on keyup
            if (currentFocus==x.length-1){
                scval = suggBox.scrollHeight-47;
                suggBox.scrollTo(0, scval);
            } else if (currentFocus<x.length) {
                scval -= 47;
                suggBox.scrollTo(0, scval);
            }
        } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
            } else {
                window.location.assign("?q="+userData+'&filter={{request.GET.filter}}');
            }
        } else {
            let emptyArray = [];
            if(userData){
                icon.onclick = ()=>{
                    webLink = `?q=${userData}`;
                    linkTag.setAttribute("href", webLink);
                    linkTag.click();
                    $(".loader-wrapper").fadeIn("slow");
                }

                emptyArray = suggsh.filter((data)=>{
                    //filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
                    return data[1].toLocaleLowerCase() == userData.toLocaleLowerCase();
                });

                emptyArray2 = suggsh.filter((data)=>{
                    return data[1].toLocaleLowerCase() != userData && data[1].replace(/[^a-zA-Z0-9 ]/g,'').includes(userData.toLocaleLowerCase());
                });

                emptyArray = emptyArray.concat(emptyArray2);
                emptyArray = emptyArray.slice(0,51).map((data)=>{ //remove slice method to return all matches
                    // passing return data inside li tag
                    //return data = `<li onclick="window.location.assign('?q=${suggestions_comma[suggestions.indexOf(data)]}')">${suggestions_comma[suggestions.indexOf(data)]} <span class="fst-italic" style="font-size:0.8rem">(${pos[suggestions.indexOf(data)]})</span></li>`;
                    return data = `<li onclick="window.location.assign('/english/word/${data[0]}')">${data[1]} ${data[2]?'<span class="text-secondary fst-italic fs-8">('+data[2]+')</span></li>':''}`;
                });

                searchWrapper.classList.add("active"); //show autocomplete box
                showSuggestions(emptyArray);
                
                // NOTE: use the below code to edit or overwrite the results "li tag"
                //let allList = suggBox.querySelectorAll("li");
                //for (let i = 0; i < allList.length; i++) {
                //    //adding onclick attribute in all li tag
                //    allList[i].setAttribute("onclick", "window.location.assign('?q='+this.textContent)");//setAttribute("onclick", "select(this)");
                //}
            }else{
                searchWrapper.classList.remove("active"); //hide autocomplete box
            }
            currentFocus = -1; // reset currentFocus
        }
    }

    window.onclick = (e)=>{
        searchWrapper.classList.remove("active");
    }
    
    function select(element){
        let selectData = element.textContent;
        inputBox.value = selectData;
        icon.onclick = ()=>{
            webLink = `?q=${selectData}`;
            linkTag.setAttribute("href", webLink);
            linkTag.click();
        }
        searchWrapper.classList.remove("active");
    }

    function showSuggestions(list){
        let listData;
        if(!list.length){
            userValue = inputBox.value;
            listData = `<li>${userValue}</li>`;
        }else{
        listData = list.join('');
        }
        suggBox.innerHTML = listData;
    }
    
    function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocom-box-active");
    }
    function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (let i = 0; i < x.length; i++) {
            x[i].classList.remove("autocom-box-active");
        }
    }
</script>

{% include "footer.html" %}
{% endblock body %}