{% extends "base.html" %}
{% block body %}
{% include "header.html" %}

<div class="bg-polka-learner-sm animation-polka-glow">
    <div class="bg-white bg-opacity-75 text-primary text-center p-4">
        <span class="display-4 fw-semibold learner"><i class="fa-solid fa-book"></i> Topic Dictionary</span>
    </div>
<div class="rule pt-1 rounded-bottom"></div>
</div>

<div class="container my-5">
    <div class="d-flex flex-wrap gap-3 mx-auto">
        {% for t in topics %}
        <div class="col-12 col-md-5 d-flex justify-content-between align-items-baseline bg-gray-200 hover-gray p-3 rounded mb-1 cursor-pointer" onclick="window.location.assign('/english/dictionary/topics/{{t.name}}')">
            <div class="fs-4">{{t.name}} <span class="badge text-uppercase text-bg-primary fs-7 bg-opacity-50">{{t.cefr}}</span></div>
            <div> {{t.data|length}} words </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include "footer.html" %}
{% endblock body %}