{% extends 'base.html' %}
{% block head %}
<style>
    /*when navigating through the items using the arrow keys:*/
    .autocom-box-active {
        background-color: DodgerBlue; 
        color: #ffffff;
    }
</style>
{% endblock head %}
{% block body %}
{% include 'header.html' %}
{% include 'english/flashcards/styles/flashcards.html' %}


<!--div class="position-relative bg-polka-learner-sm animation-polka-glow"-->
<div class="bg-gray-200 p-3">
    <div class="text-center text-learner display-4 fw-semibold m-3 rounded"><i class="fa-solid fa-book"></i> Common & Selected Words</span></div>

    <div class="px-3">
        <div class="pnav">
            <li class="{% if request.GET.data == "lingo_words_list" %}active{% endif %}">
                <div class="ts-b"></div>
                <a href="{% url "dict_filt" %}?data=lingo_words_list">LINGO's WORDS LIST</a>
            </li>

            <li class="{% if request.GET.data == "common_phrasal_verbs" %}active{% endif %}">
                <div class="ts-b"></div>
                <a href="{% url "dict_filt" %}?data=common_phrasal_verbs">COMMON PHRASAL VERBS</a>
            </li>
            
            <li class="{% if request.GET.data == "common_phrases" %}active{% endif %}">
                <div class="ts-b"></div>
                <a href="{% url "dict_filt" %}?data=common_phrases">COMMON PHRASES</a>
            </li>

            <li class="{% if request.GET.data == "common_idioms" %}active{% endif %}">
                <div class="ts-b"></div>
                <a href="{% url "dict_filt" %}?data=common_idioms">COMMON IDIOMS</a>
            </li>
        </div>
    </div>
</div>
<div class="rule pt-1 rounded-bottom"></div>

{% include "messages.html" %}

<!-- table -->
<div class="container my-5">
    <div class="col-11 col-lg-8 mx-auto">

        <div class="card card-body bg-primary-subtle mb-5">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-3 fs-5 fw-semibold text-primary">
                    <span>Total Words</span>
                    <span class="text-secondary">:</span>
                    <span>{{wordscount}}</span>
                </div>

                <div>
                    <button class="btn btn-primary" onclick="window.location.assign('')">Add All to My List <i class="fa-solid fa-plus"></i> <i class="fa-solid fa-list-ul"></i></button>
                </div>
            </div>
        </div>

        {% for word in words %}
            <div class="bg-gray-200 p-3 rounded mb-3">
                <div class="d-flex justify-content-between">
                    <div class="bg-gray-300 px-2 py-1 rounded">{{forloop.counter}}</div>
                    <div>
                        {% if request.user.username in word.fav.rvdata.keys %}
                        <button title="Already added" class="btn btn-danger fs-6 px-2 py-1" onclick="window.location.assign('/english/datamain?data=remove&word={{word.id}}&sense=0')"><i class="fa-solid fa-trash"></i></button>
                        {% else %}
                        <button title="Add it" class="btn btn-outline-danger fs-6 px-2 py-1" onclick="window.location.assign('/english/datamain?data=fav&word={{word.id}}&sense=0')"><i class="fa-regular fa-heart"></i></button>
                        {% endif %}
                    </div>
                </div>
                <div class="text-primary text-center fw-bold fs-3 mb-4" {% if word.senses|length < 2 %}onclick="window.location.assign(`{% url "word" word.pk %}`)" {% else %} data-bs-toggle="modal" data-bs-target="#wModal{{word.pk}}"{% endif %}>
                    {{word.word}}
                </div>
                <hr>
                <div class="text-center mb-3">
                    <span class="d-inline-block bg-light bg-opacity-25 p-1 rounded">{{word.senses.0.9.en.0.0}}</span>
                </div>
            </div>

            <div class="modal fade animate__animated" id="wModal{{word.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-white p-0 border border-5">
                    <div class="position-sticky top-0 bg-light modal-header px-4 py-2 m-0" style="translate:0 -1px;z-index:1;">
                        <div class="modal-title" id="wModalLabel">
                            <div id="word" class="col-auto text-primary d-inline">
                                {{word.word}}
                            </div>
                            <div id="pos" class="col-auto text-secondary d-inline-block">
                                {{word.pos}}
                            </div>
                            {% if word.cefr %}
                                <div id="grade" class="col-auto d-inline-block fs-5 text-uppercase px-2">
                                    {{word.cefr}}
                                </div>
                            {% endif %}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="fs-7 text-bg-secondary bg-opacity-50 p-2"><span class="d-block animate__animated animate__shakeX">click on a definition for more details</span></div>
                    <div class="modal-body p-4">
                        <div><a href="{% url "word" word.pk %}" class="btn btn-outline-primary fs-8 px-1 py-0">show all senses</a></div>
                        {% for sense in word.senses %}
                            <div class="cursor-pointer ps-3 py-3 hover-gray" onclick="window.location.assign(`{% url "words" word.pk forloop.counter0 %}`)">
                                <div style="font-size:0.8rem;">
                                    <span class="badge text-uppercase text-bg-primary bg-opacity-100">sense {{sense.0}}</span>
                                    <span class="badge text-uppercase text-bg-secondary bg-opacity-100">{{sense.2}}</span>
                                </div>
                                {% if sense.1 %}<div class="fs-5">({{sense.1}})</div>{% endif %}
                                <div>{{sense.9.en.0.0}}</div>
                            </div>
                            {% if not forloop.last %}<hr class="my-0">{% endif %}
                        {% endfor %}
                    </div>
                    <!--div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div-->
                </div>
                </div>
            </div>
        {% endfor %} 
    </div>
</div>

<script>// modal animator
    //$('td').on('click',function(){
    //    let mod = document.querySelector(this.getAttribute("data-bs-target"));
    //    mod.classList.add("animate__fadeIn");
    //});

    //$('.modal').on('show.bs.modal',function(){
    //    $('.modal').addClass('animate__tada')
    //});
</script>

{% include "footer.html" %}
{% endblock body %}