{% extends 'base.html' %}

{% block body %}
{% include 'english/flashcards/styles/flashcards.html' %}
{% include "header.html" %}

<div class="container-fluid bg-light py-4">
    <div class="row">
        <div class="col-12 col-lg-9 px-4 pe-lg-0 mb-5">
            {% include 'messages.html' %}
            <div class="bg-light p-3 mb-3 rounded shadow">
                <div class="d-flex justify-content-between align-items-center rounded">
                    <div class="row col-9">
                        <!-- Word Pos-->
                        <div class="col-12 mb-1">
                            <div id="word" class="col-auto text-primary d-inline-block me-2" {% if request.user.is_superuser %}onclick="window.location.assign('/english/wordedit?word_id={{word.id}}')"{% endif %}>
                                {{word.word}}
                            </div>
                            <div id="pos" class="col-auto fs-5 d-inline-block text-secondary me-2">
                                {{word.pos}}
                            </div>
                            {% if word.cefr %}
                                <div id="grade" class="col-auto d-inline-block fs-5 text-uppercase px-2">
                                    {{word.cefr}}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Option Buttons -->
                    <div class="col-3">
                        <div class="fs-5 fw-bold text-primary text-center mb-2">My Progress</div>
                        <div class="d-flex justify-content-center align-items-center bg-secondary bg-opacity-10 p-3 border border-5 border-primary mx-auto rounded-circle" style="width:7rem;height:7rem;">
                            <div class="fs-1 fw-bold text-primary">10<span class="fs-4 text-secondary">%</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--div class="col-12 col-lg-3 px-4 px-lg-2">
            <div class="position-sticky sticky bg-light p-2 rounded shadow">
                <div class="d-flex justify-content-between align-items-center border-bottom border-grey mb-2">
                    <h5 class="text-secondary">Nearby words</h5>
                    <div class="">
                        <a href="{% url "word" word.pk|add:-1 %}" class="btn btn-grey" role="button" title="short-key alt+z" accesskey="z">&lt;</a>
                        <a href="{% url "word" word.pk|add:1 %}" class="btn btn-grey" role="button" title="short-key alt+x" accesskey="x">&gt;</a>
                    </div>
                </div>
                {% for w in nw %}
                    {% if word.pk == w.pk %}
                        <a class="d-block bg-secondary bg-opacity-25 fw-bold text-secondary px-2 py-1 my-1 rounded">{{w.word}}</a>
                    {% else %}
                        <a href="{% url 'word' w.pk %}" class="d-block text-secondary hover-gray px-1 my-1 rounded">{{w.word}}</a>
                    {% endif %}
                {% endfor %}
                <div class="my-2">
                    <form action="{% url "dictionary" %}">
                        <input type="search" name="q" class="form-control" placeholder="Type to search..." value="{{request.GET.q}}" autocomplete="off"/>
                    </form>
                </div>
            </div>
        </div-->
    </div>
</div>

{% include 'tts_2.html' %}
{% include 'english/flashcards/scripts/script.html' %}

{% endblock body %}