{% extends 'base.html' %}
{% load to_and %}

{% block body %}
{% include 'english/flashcards/styles/flashcards.html' %}

{% include "header.html" %}
{% include 'messages.html' %}

<div class="container my-2">
    <div class="d-flex justify-content-between align-items-baseline bg-light rounded p-2">
        <div class="d-flex align-items-baseline row col-11">
            <!-- Word Pos-->
            <div class="col-12 mb-1">
                <div id="word" class="col-auto text-primary d-inline" {% if request.user.is_superuser %}onclick="window.location.assign('/english/wordedit?word_id={{word.id}}')"{% endif %}>
                    {{word.word|to_and}}
                </div>
                <div id="pos" class="col-auto fs-4 d-inline-block text-secondary">
                    {{word.pos}}
                </div>
            </div>
            <!-- Grade Pronounce Pic-->
            <div class="col-12">
                {% if word.grade|length > 0 %}
                <div class="col-12 mb-2">
                    <div id="grade" class="col-12 d-inline fs-5 text-uppercase px-2">
                        {{word.grade}}
                    </div>
                </div>
                {% endif %}

                <div class="row col-12 mb-3">
                    {% if pronounce.0|length > 1 %}
                        <div class="col-auto ps-3">
                            <div id="ukpron" class="text-primary fs-5" style=""><i class="fa-solid fa-volume-high cursor-pointer"></i> UK <span id="pruk">{{pronounce.0}}</span></div>
                            <div id="uspron" class="text-danger fs-5" style=""><i class="fa-solid fa-volume-high cursor-pointer"></i> US <span id="prus">{{pronounce.1}}</span></div>
                        </div>
                    {% endif %}

                    {% if word.pic %}
                        <div class="col-auto">
                            <div class=""><img class="word-image" src="{{word.pic.url}}"/></div>
                        </div>
                    {% endif %}

                    {% if word.pic_url|length > 1 %}
                        <div class="col-auto">
                            <div class=""><img class="word-image" src="{{word.pic_url}}"/></div>
                        </div>    
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Option Buttons -->
        <div class="col-1">
            {% if visible == "disabled" %}
                <button title="Already Added" disabled class="btn btn-outline-danger col-12 fs-4" onclick="window.location.assign('/english/data?data=new&word={{word.id}}')"><i class="fa-solid fa-heart"></i></button>
            {% else %}
                <button title="Add it" class="btn btn-outline-primary col-12 fs-4" onclick="window.location.assign('/english/data?data=new&word={{word.id}}')"><i class="fa-regular fa-heart"></i></button>
            {% endif %}
            <button title="Revise" class="btn btn-outline-success col-12 fs-4 mt-2" onclick="window.location.assign('/english/revise/')"><i class="fa fa-history"></i></button>
        </div>
    </div>

    {% if word.pos != 'idiom' %}
    {% if word.pos != 'phrasal verb' %}
    {% if forms|length > 1 %}
    <div id="forms-cont" class="row">
        <div class="col-auto">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Other Forms
            </button>
        </div>
        <div class="card col-auto shadow" style="position:absolute;left:16%;translate:0 -35%;z-index:1;">
            <div class="collapse" id="collapseExample">
                <div id="forms" class="card-body">
                    {% for line in forms %}
                        <div>&#x2022; {{line}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}


    <div class="bg-primary rounded my-3 shadow">
        <span class="text-white ps-2 mb-1">Definition</span>
        
        <div id="def-container" class="bg-gray position-relative rounded p-1">
            <div id="def" class="bg-primary bg-opacity-25 fs-4 p-2 rounded">
                <div class="fs-6 mb-1">
                    <div>{{word.category.name}}</div>
                    {% if word.def_inf %}<span class="d-inline-block bg-light bg-opacity-25 border border-light px-2 py-1 rounded">{{word.def_inf}}</span>{% endif %}
                </div>

                <div id="carouselExampleControls" class="carousel slide">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div id="definition" class="">{{word.definition}}</div>
                        </div>
                        <div class="carousel-item">
                            {% if word.definition_hindi %}{{word.definition_hindi}}{% else %}<span class="fs-5 text-danger">Hindi definition not available for this word</span>{% endif %}
                        </div>
                        
                    </div>
                </div>

                <div class="position-absolute top-0 end-0 m-2">
                    <i class="fa-solid fa-language fs-3 text-primary cursor-pointer" data-bs-target="#carouselExampleControls" data-bs-slide="next"></i>
                </div>
            </div>
        </div>
    </div>

    {% if example %}
        <div class="bg-secondary m-0 my-3 rounded shadow">
            <span class="text-white ps-2 mb-1">Example Sentences</span>
            <div class="bg-white rounded p-1">
                <div id="example" class="fs-4 fst-italic bg-gray bg-opacity-10 rounded pt-1 overflow-auto">
                    <ul>
                        <hr class="my-1">
                        {% for line in example %}
                            <li class="example p-0">
                                <!--&#x2022; bullet -->{{line}} <i class="fa-solid fa-volume-high cursor-pointer fs-6 text-primary" onclick="textToSpeech(this.parentNode.textContent, 'UK')"></i> <i class="fa-solid fa-volume-high cursor-pointer fs-6 text-danger" onclick="textToSpeech(this.parentNode.textContent, 'US')"></i>
                            </li>
                            <hr class="my-1">
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}


    {% if word.context %}
        <div class="my-3 p-0">
            <div class="bg-primary text-white py-1 rounded px-2 mb-2">
                sentence usage
            </div>
            <div class="mx-2">
                <!--pre>{{word.context}}</pre-->
                <div id="context"></div><!--this is being modified by Script-->
            </div>
        </div>
    {% endif %}

    {% if word.synonyms %}
        <div class="{% if word.antonyms %}col {% endif %}p-0 my-3">
            <div class="bg-primary text-white rounded py-1 px-2 mb-2">
                synonyms
            </div>
            <div id="synonyms" class="mx-2">
                {{word.synonyms}}
            </div>
        </div>
    {% endif %}

    {% if word.antonyms %}
        <div class="{% if word.synonyms %}col {% endif %}p-0 my-3">
            <div class="bg-danger text-white rounded py-1 px-2 mb-2">
                antonyms
            </div>
            <div id="antonyms" class="mx-2">
                {{word.antonyms}}
            </div>
        </div>
    {% endif %}

    {% if word.compare %}
        <div class="my-3 p-0">
            <div class="bg-primary text-white rounded py-1 px-2 mb-2">
                related words
            </div>
            <div id="related" class="mx-2">
                {{word.compare}}
            </div>
        </div>
    {% endif %}

    {% if word.hindi_usage %}
        <div class="my-3 p-0">
            <div class="bg-secondary text-white rounded py-1 px-2 mb-2">
                Hindi Usage
            </div>
            <div class="mx-2">
                {{word.hindi_usage}}
            </div>
        </div>
    {% endif %}

    {% if word.related_post.count %}
        <div class="my-3 p-0">
            <div class="bg-secondary text-white rounded py-1 px-2 mb-2">
                Related Post
            </div>
            <div id="related_post" class="mx-2">
                {% for post in word.related_post.all %}
                    <button class="btn btn-outline-secondary" onclick="window.location.assign(`{% url 'post_detail' post.pk %}`)">
                        {{post.title}}
                    </button>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if collocation %}
        <div class="my-3 p-0">
            <div class="bg-secondary text-white rounded-3 py-1 px-2 mb-2">
                collocation
            </div>
            <div class="mx-2">
                <a class="btn btn-secondary" href="{% url "collocation_view" collocation.id %}">{{collocation}}</a>
            </div>
        </div>
    {% endif %}
</div>

<!-- Image -->
<div class="modal fade" id="fullImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-1">
        <div class="">
            {% if word.pic %}
                <img class="border border-4 border-secondary rounded" style="width:100%;height:auto;" src="{{word.pic.url}}"/>
            {% else %}
                <img class="border border-4 border-secondary rounded" style="width:100%;height:auto;" src="{{word.pic_url}}"/>
            {% endif %}
        </div>
        </div>
    </div>
</div> 


{% include 'english/flashcards/scripts/script.html' %}

{% endblock body %}