{% extends 'base.html' %}
{% block og %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.lingolab.in/"/>
    <meta property="og:title" content="{{word|capfirst}} | Definition | LingoLab"/>
    <meta property="og:description" content=": {{word.senses.0.9.en.0.0}}" />
    <meta property="og:site_name" content="LingoLab"/>
    <meta name="twitter:site" content="@lingolab">
    <meta name="twitter:creator" content="@lingolab">
    <meta name="twitter:title" content="{{word|capfirst}} | Definition | LingoLab"/>
    <meta name="twitter:description" content=": {{word.senses.0.9.en.0.0}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:widgets:new-embed-design" content="on">
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta property="og:image" content="https://www.lingolab.in/static/img/lingo_dict.png"/>
    <meta name="twitter:image:src" content="https://www.lingolab.in/static/img/lingo_dict.png"/>
{% endblock og %}
{% block title %}{{word}} Definition | Dictionary | {% endblock title %}
{% block body %}
{% include 'english/flashcards/styles/flashcards.html' %}
{% include "header.html" %}

<div class="position-relative container-fluid bg-light py-4">
    <div class="row">
        <div class="col-12 col-lg-9 px-4 pe-lg-0 mb-5">
            {% include 'messages.html' %}
            <div class="" style="z-index:10">
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </symbol>
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                
                <div id="popupnotifications" class="d-flex flex-column-reverse">
                </div>
            </div>

            {% if request.user.is_superuser %}<a href="{% url "data_main" %}?data=set&word={{word.pk}}&sense=0" role="button" class="btn btn-secondary">SET AS WOD</a>
            <hr>
            {% endif %}
            <div class="bg-light p-3 py-4 mb-3 rounded shadow overflow-hidden">
                <div class="d-flex justify-content-between rounded">
                    <div class="row col-11">
                        <!-- Word Pos-->
                        <div class="col-12 mb-1">
                            <div id="word" class="col-auto text-primary d-inline-block me-2" {% if request.user.is_superuser %}onclick="window.location.assign('/admin/languages/dictionary/{{word.pk}}/change/')"{% endif %}>
                                {{word.word}}
                            </div>
                            <div id="pos" class="col-auto fs-5 d-inline-block text-secondary me-2">
                                {{word.pos}}
                            </div>
                            {% if word.cefr %}
                                <div id="grade" class="col-auto d-inline-block fs-5 text-uppercase px-2">
                                    {{word.cefr}}
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <div class="row col-12 mb-3">
                                {% if word.pronounciation.uk.texts %}
                                    <div class="col-auto ff-arial ps-3">
                                        <div>
                                            <span id="" class="text-primary fs-5 speak" data-src-mp3="{{word.pronounciation.uk.audios.mp3.0}}">UK <i class="fa-solid fa-volume-high cursor-pointer"></i> <span>{{word.pronounciation.uk.texts.0}}</span></span>
                                            {% if word.pronounciation.uk.texts.1 %}
                                            <span id="" class="text-primary fs-5 speak" data-src-mp3="{{word.pronounciation.uk.audios.mp3.1}}">, <i class="fa-solid fa-volume-high cursor-pointer"></i> <span>{{word.pronounciation.uk.texts.1}}</span></span>
                                            {% endif %}
                                        </div>
                        
                                        {% if word.pronounciation.us.texts %}
                                            <div>
                                                <span id="" class="text-danger fs-5 speak" data-src-mp3="{{word.pronounciation.us.audios.mp3.0}}">US <i class="fa-solid fa-volume-high cursor-pointer"></i> <span>{{word.pronounciation.us.texts.0}}</span></span>
                                                {% if word.pronounciation.us.texts.1 %}
                                                <span id="" class="text-danger fs-5 speak" data-src-mp3="{{word.pronounciation.us.audios.mp3.1}}">, <i class="fa-solid fa-volume-high cursor-pointer"></i> <span>{{word.pronounciation.us.texts.1}}</span></span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="wd">
                            {% if word.word_details.5 %}<div id="labels" class="text-secondary my-1">{{word.word_details.5|safe}}</div>{% endif %}
                            {% if word.word_details.1 %}<div id="gra" class="text-secondary my-1">{{word.word_details.1}}</div>{% endif %}
                            {% if word.word_details.2 %}<div id="vars" class="text-secondary my-1">{{word.word_details.2|safe}}</div>{% endif %}
                            {% if word.word_details.3 %}
                                <div id="infl" class="text-secondary my-1">{{word.word_details.3|safe}}</div>
                                {% else %}
                                {% if word.plural %}<div class="text-secondary my-1">(plural <span class="v">{{word.plural}}</span>)</div>{% endif %}
                            {% endif %}
                            {% if word.word_details.4 %}<div id="use" class="text-warning my-1">{{word.word_details.4}}</div>{% endif %}
                        </div>
        
                        {% if word.forms %}
                            <div id="forms-cont" class="mt-1">
                                <div class="col-auto">
                                    <input class="btn-check" id="v_table" type="checkbox" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></input>
                                    <label for="v_table" class="btn btn-outline-primary">Verb Forms</label>
                                </div>
                                <div class="collapse col-7 col-md-auto" id="collapseExample" style="position:absolute;translate:40% -40%;z-index:1;">
                                    <div class="card">
                                        <div id="forms" class="card-body shadow">
                                            {% for form in word.forms %}
                                                <div>{{form.1}}</div>
                                                <div>UK 
                                                    <span class="speak" data-src-mp3="{{form.2.1.0.0}}">
                                                        <i class="fa-solid fa-volume-high cursor-pointer"></i> 
                                                        {{form.2.0.0}}
                                                    </span>
                                                    {% if form.2.0.1 %}
                                                        <span class="speak" data-src-mp3="{{form.2.1.0.1}}">
                                                            <i class="fa-solid fa-volume-high cursor-pointer"></i> 
                                                            {{form.2.0.1}}
                                                        </span>
                                                    {% endif %}
                                                </div>

                                                <div>US 
                                                    <span class="speak" data-src-mp3="{{form.3.1.0.0}}">
                                                        <i class="fa-solid fa-volume-high cursor-pointer"></i> 
                                                        {{form.3.0.0}}
                                                    </span>
                                                    {% if form.3.0.1 %}
                                                        <span class="speak" data-src-mp3="{{form.3.1.0.1}}">
                                                            <i class="fa-solid fa-volume-high cursor-pointer"></i> 
                                                            {{form.3.0.1}}
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- Option Buttons -->
                    <div class="col-1">
                        {% if visible == "disabled" %}
                            <button title="Remove all senses of the word" disabled class="btn btn-outline-danger col-12 fs-5" onclick="window.location.assign('/english/data?data=new&word={{word.id}}')"><i class="fa-solid fa-heart"></i></button>
                        {% else %}
                            <button title="Add all senses of the word" class="btn btn-outline-danger col-12 fs-5" onclick="window.location.assign('/english/datamain?data=fav&word={{word.id}}&sense=0')"><i class="fa-regular fa-heart"></i></button>
                        {% endif %}
                        <button title="Share it" class="btn btn-outline-primary col-12 fs-5 mt-2" data-bs-toggle="collapse" data-bs-target="#collapseShare" aria-expanded="false" aria-controls="collapseShare"><i class="fa-solid fa-share-nodes"></i></button>
                        <div class="card col-auto shadow-sm" style="position:absolute;translate:-105% -50%;z-index:1;">
                            <div class="collapse" id="collapseShare">
                                <div id="share" class="text-center fs-7 cursor-pointer" style="width:10rem;">
                                  <div class="p-2">Copy Link</div>
                                  <hr class="my-0">
                                  <div class="p-2 scr hover-gray" data-ele="scr">Save It</div>
                                  <hr class="my-0">
                                  <div class="p-2" onclick="window.location.assign(`https://api.whatsapp.com/send?text=https://www.lingolab.in{{request.path}}`)">WhatsApp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if word.word_details.6 %}<div id="help" class="wd bg-warning bg-opacity-50 p-2 rounded my-1">{{word.word_details.6|safe}}</div>{% endif %}
            </div>

            {% if not word.senses %}
                <div class="text-center bg-light p-3 my-3 fs-5 shadow">there are no main entries of this word, check next entries.</div>
            {% endif %}
            
            {% for sense in word.senses %}
                <div class="p-2 {% if not forloop.last %}mb-3{% endif %} rounded shadow">
                    <div class="d-flex justify-content-between mb-1">
                        <div>
                            <span class="badge text-uppercase text-bg-primary bg-opacity-100" {% if request.user.is_superuser %}onclick="window.location.assign(`{% url 'word_entry' %}?edit=true&word={{word.pk}}&sense={{sense.0|add:-1}}`)"{% endif %}>sense {{sense.0}}</span>
                            <span class="badge text-uppercase text-bg-secondary bg-opacity-100">{{sense.2}}</span>
                            <div class="d-inline-block">
                                {% if sense.16.0 %}
                                    <a href="/english/dictionary/topics/{{sense.16.0.0}}" role="btn" class="btn btn-primary fs-8 p-0 px-2">
                                        TOPIC
                                        <span class="badge wsp-sm lsp-sm text-light text-uppercase text-bg-light bg-opacity-25">
                                            {{sense.16.0.0}} {{sense.16.1.0}}
                                        </span>
                                    </a>
                                {% endif %}
                                {% if sense.16.0.1 %}
                                    <a href="/english/dictionary/topics/{{sense.16.0.0}}" role="btn" class="btn btn-primary fs-8 p-0 px-1">
                                        TOPIC
                                        <span class="badge wsp-sm lsp-sm text-light text-uppercase text-bg-light bg-opacity-25">
                                            {{sense.16.0.1}} {{sense.16.1.1}}
                                        </span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            {% if fav %}
                                {% if sense.0 in fav %}
                                    <button id="btn{{sense.0}}" title="Already added" class="btn btn-outline-danger fs-6 p-0 px-2 rounded" onclick="favSet('remove',{{word.id}},{{sense.0}})"><i id="ft" class="fa-solid fa-trash"></i><i id="fp" class="d-none fa-solid fa-plus"></i></button>
                                    {% else %}
                                    <button id="btn{{sense.0}}" title="Add it" class="btn btn-outline-primary fs-6 p-0 px-2 rounded" onclick="favSet('fav',{{word.id}},{{sense.0}})"><i id="fp" class="fa-regular fa-plus"></i><i id="ft" class="d-none fa-solid fa-trash"></i> <i class="fa-solid fa-list-ul"></i></button>
                                {% endif %}
                            {% else %}
                            <button id="btn{{sense.0}}" title="Add it" class="btn btn-outline-primary fs-6 p-0 px-2 rounded" onclick="favSet('fav',{{word.id}},{{sense.0}})"><i class="fa-regular fa-plus"></i> <i class="fa-solid fa-list-ul"></i></button>
                            {% endif %}
                        </div>
                    </div>

                    <div class="fs-6">
                        {% if sense.6 %}<span class="d-inline-block bg-light bg-opacity-25 text-secondary border border-2 border-light p-0 px-1 mb-1 rounded">{{sense.6}}</span>{% endif %}
                        {% if sense.8 %}<span class="d-inline-block bg-light bg-opacity-25 text-secondary border border-2 border-light p-0 px-1 mb-1 rounded">{{sense.8}}</span>{% endif %}
                        {% if sense.7 %}<span class="d-inline-block bg-light bg-opacity-25 text-secondary border border-2 border-light p-0 px-1 mb-1 rounded">{{sense.7.0|safe}}{% if sense.7.1 %} {{sense.7.1|safe}}{% endif %}</span>{% endif %}
                    </div>

                    {% if sense.3 %}
                    {% for i in sense.3 %}
                        <span class="me-2">
                            <img class="word-image" src="/media/dictionary/img/thumb/{{i}}" onerror="this.onerror=null; this.src='/media/dictionary/image-regular.svg'" data-bs-toggle="modal" data-bs-target="#fullImage{{forloop.counter}}"/>
                        </span>
                        <div class="modal fade" id="fullImage{{forloop.counter}}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="w-100 modal-content p-1">
                                <div class="">
                                    <img class="border border-4 rounded" style="width:100%;height:auto;" src="/media/dictionary/img/fullsize/{{i}}"/>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                    <div id="def-container" class="bg-light rounded p-1 mb-1 shadow-sm">
                        <div id="def" class="position-relative bg-primary-subtle fs-4 p-3 rounded">
                            {% if sense.1 %}
                                <span class="d-inline-block bg-primary text-light text-uppercase fs-8 bg-opacity-75 p-1 mb-1">
                                    {{sense.1}}
                                </span>
                            {% endif %}
                            {% if sense.5 %}<span class="text-primary fs-5">{{sense.5}}</span>{% endif %}
                            {% if sense.4 %}<span class="text-primary fs-5">{{sense.4}}</span>{% endif %}

                            <ol class="circle_filled">
                            {% for x in sense.9.en.0 %}
                                <li class="lsp-sm wsp-sm ln-sm">
                                    {{x}}
                                </li>
                                {% if not forloop.last %}<hr>{% endif %}
                            {% endfor %}
                            </ol>

                            <div id="defHiCarousel{{sense.0}}" class="d-none carousel animate__animated animate__fadeIn">
                                <div class="carousel-inner definition" data-bs-target="#defHiCarousel{{sense.0}}" data-bs-slide="next">
                                    {% for x in sense.9.hi.0 %}
                                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                            {{x}}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="position-absolute top-0 end-0 me-1">
                                <i class="fa-solid fa-language fs-3 text-primary cursor-pointer" data-action="dtog" data-target="defHiCarousel{{sense.0}}"></i>
                            </div>
                        </div>
                    </div>

                    {% if sense.10 %}
                        <div class="bg-light rounded p-1 shadow-sm">
                            <div id="example" class="example fs-5 fst-italic bg-gray-100 bg-opacity-10 rounded pt-1 overflow-x-hidden">
                                <ul>
                                    <hr class="my-1">
                                    {% for example in sense.10 %}
                                        <li class="example p-0">
                                            <!--&#x2022; bullet -->{{example}} <i class="fa-solid fa-volume-high cursor-pointer fs-6 text-primary" onclick="textToSpeech(this.parentNode.textContent, 'UK')"></i> <i class="fa-solid fa-volume-high cursor-pointer fs-6 text-danger" onclick="textToSpeech(this.parentNode.textContent, 'US')"></i>
                                        </li>
                                        <hr class="my-1">
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if note %}
                        <div class="modal fade" id="myNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-title bg-danger bg-opacity-75 text-white p-2 rounded fs-5" id="exampleModalLabel">My Note - Edit</div>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="post" action="">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            <textarea id="textarea_note" class="form-control" name="note" rows="4" placeholder="Type here to make your note....">{% if word.note %}{{word.note}}{% endif %}</textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if sense.17 %}
                        <div class="d-flex gap-2 bg-warning bg-opacity-25 p-3 rounded my-3">
                            <div class=""><i class="fa-solid fa-lightbulb text-warning fs-3"></i></div>
                            <div class="">{{sense.17|safe}}</div>
                        </div>
                    {% endif %}

                    {% if sense.18 %}
                        <div class="d-flex gap-2 bg-warning bg-opacity-25 p-3 rounded my-3">
                            <div class=""><i class="fa-solid fa-lightbulb text-warning fs-3"></i></div>
                            <div class="">{{sense.18|safe}}</div>
                        </div>
                    {% endif %}

                    {% if sense.19 %}
                        <div class="row accordion my-3">
                            {% for box in sense.19 %}
                            <div class="col-sm-12 col-lg-6 accordion my-1" id="accordionExample{{forloop.counter}}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed p-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="d-inline-block bg-secondary text-white fw-bold wsp-sm lsp-sm fs-7 p-2 rounded">{{box.0|safe}}</span>
                                        </button>
                                    </h2>
                                    <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body shadow-sm">
                                            {{box.1|safe}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if sense.11 %}
                        <div class="my-3 p-0">
                            <span class="d-inline-block bg-secondary text-white fw-bold wsp-sm lsp-sm fs-7 py-1 rounded px-2 mb-2">
                                SENTENCE USAGE PATTERN
                            </span>
                            <div class="ps-3">
                                {% for x in sense.11 %}
                                    <div class="mb-3">
                                        <div class="mb-1"><span class="bg-gray-200 text-primary fw-bold px-2 py-1 rounded">{{x.0}}</span></div> 
                                        <div class="px-3">&#x2022; {{x.1}}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if sense.15 %}
                        <div class="my-3 p-0">
                            <span class="d-inline-block bg-secondary text-white fw-bold wsp-sm lsp-sm fs-7 py-1 rounded px-2 mb-2">
                                SEE ALSO
                            </span>
                            <div class="d-flex flex-wrap gap-1 ps-3">
                                {% for x in sense.15 %}
                                    <a href="{% url "dictionary" %}?q={{x}}" class="text-dark bg-gray px-2 py-1 rounded">{{x}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="{% if sense.13 and sense.12 %}d-flex flex-row gap-2{% endif %}">
                        {% if sense.12 %}
                            <div class="{% if sense.13 %}col {% endif %}p-0 my-3">
                                <span class="d-inline-block bg-primary text-white fw-bold wsp-sm lsp-sm fs-7 rounded py-1 px-2 mb-2">
                                    SYNONYMS
                                </span>
                                <div class="d-flex flex-wrap gap-1 ps-3">
                                    {% for x in sense.12 %}
                                        <a href="{% url "dictionary" %}?q={{x}}" class="text-dark bg-gray px-2 py-1 rounded">{{x}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if sense.13 %}
                            <div class="{% if sense.12 %}col {% endif %}p-0 my-3">
                                <span class="d-inline-block bg-danger text-white fw-bold wsp-sm lsp-sm fs-7 rounded py-1 px-2 mb-2">
                                    ANTONYMS
                                </span>
                                <div class="d-flex flex-wrap gap-1 ps-3">
                                    {% for x in sense.13 %}
                                        <a href="{% url "dictionary" %}?q={{x}}" class="text-dark bg-gray px-2 py-1 rounded">{{x}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% if sense.14 %}
                        <div class="my-3 p-0">
                            <span class="d-inline-block bg-secondary text-white fw-bold wsp-sm lsp-sm fs-7 rounded py-1 px-2 mb-2">
                                COMPARE
                            </span>
                            <div class="d-flex gap-1 ps-3">
                                {% for x in sense.14 %}
                                    <a href="{% url "dictionary" %}?q={{x}}" class="text-dark bg-gray px-2 py-1 rounded">{{x}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if word.related_post.count %}
                        <div class="my-3 p-0">
                            <span class="d-inline-block bg-secondary text-white fw-bold wsp-sm lsp-sm fs-7 rounded py-1 px-2 mb-2">
                                RELATED POST
                            </span>
                            <div id="related_post" class="d-flex gap-1 ps-3">
                                {% for post in word.related_post.all %}
                                    <button class="btn btn-outline-primary px-2 py-1" onclick="window.location.assign(`{% url 'post_detail' post.pk %}`)">
                                        {{post.title}}
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            {% if word.word_details.7 %}
                <div class="bg-secondary bg-opacity-25 p-1 my-3 rounded">
                    <div class="fw-bold text-secondary p-1">{{word.word_details.7.0|safe}}</div>
                    <div class="bg-light bg-opacity-50 p-3 rounded">
                        {{word.word_details.7.1|safe}}
                    </div>
                </div>
            {% endif %}

            {% if word.word_details.8 %}
                <div class="bg-secondary bg-opacity-25 p-1 my-3 rounded">
                    <div class="fw-bold text-secondary p-1">{{word.word_details.8.0|safe}}</div>
                    <div class="bg-light bg-opacity-50 p-3 rounded">
                        {{word.word_details.8.1|safe}}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-12 col-lg-3 px-4 px-lg-2">
            <div class="position-sticky sticky bg-light p-2 rounded shadow-sm tr-05">
                <div class="d-flex justify-content-between align-items-center border-bottom border-grey mb-2">
                    <h5 class="text-secondary">Nearby words</h5>
                    <div class="">
                        <a href="{% url "word" word.pk|add:-1 %}" class="btn btn-grey" role="button" title="short-key alt+z" accesskey="z">&lt;</a>
                        <a href="{% url "word" word.pk|add:1 %}" class="btn btn-grey" role="button" title="short-key alt+x" accesskey="x">&gt;</a>
                    </div>
                </div>
                {% for w in nw %}
                    {% if word.pk == w.pk %}
                        <a class="d-block bg-primary bg-opacity-25 fw-bold text-primary px-2 py-1 my-1 rounded">{{w.word}}</a>
                    {% else %}
                        <a href="{% url 'word' w.pk %}" class="d-block text-secondary hover-gray px-1 my-1 rounded">{{w.word}}</a>
                    {% endif %}
                {% endfor %}
                <div class="my-2">
                    <form action="{% url "dictionary" %}">
                        <input type="search" name="q" class="form-control" placeholder="Type to search..." value="{{request.GET.q}}" autocomplete="off"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if perms.languages.add_word %}
    <div class="position-fixed bottom-0 right-0 m-3" style="z-index:1;">
        <a href="{% url 'word_entry' %}?add=true&word={{word.pk}}&sense=0" class="btn btn-secondary text-white">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
{% endif %}

{% include 'tts_2.html' %}
{% include 'english/flashcards/scripts/script.html' %}
{% endblock body %}