{% extends 'base.html' %}
{% block head %}
<style>
    /*when navigating through the items using the arrow keys:*/
    .autocom-box-active {
        background-color: DodgerBlue; 
        color: #ffffff;
    }
</style>
{% endblock head %}
{% block body %}
{% include 'header.html' %}
{% include 'english/flashcards/styles/flashcards.html' %}
<!-- LOADING ANIMATION -->
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<!-- LOADING ANIMATION STOP -->
<script>
    $(window).on("load", function() {
        $(".loader-wrapper").fadeOut("slow");
    });
</script>


<div class="container-fluid bg-gray text-primary text-center py-2">
    <a href="/english/dictionary/"><span class="display-4 fw-bold learner" style="font-family:Majalla;"><i class="ti book-2"></i> ZTH DB</span></a>
</div>
<div class="rule pt-1"></div>
{% include "messages.html" %}
{% if not request.GET.q %}
    {% include "iht" %}
{% endif %}
<!-- search -->
<div class="container my-4">
    <div class="wrapper col-10 col-md-8">
        <div class="search-input">
            <input type="search" name="q" class="form-control" placeholder="Type to search..." value="{{request.GET.q}}" autocomplete="off"/>
            <div id="subox" class="autocom-box mt-1 rounded-bottom shadow">
                <!-- here list is inserted from javascript -->
            </div>
            <a><div class="icon"><i class="fas fa-search"></i></div></a>
        </div>

        <div class="card bg-gray bg-opacity-25 w-50 mx-auto my-2">
            <div class="card-body py-1">
                <div class="row align-items-center">
                    <div class="col-auto">Filter:</div>
                    <div class="col">
                        <select id="filter" name="in" class="form-select form-select-sm" aria-label="Default select example">
                            <option value="" selected>---------</option>
                            <option value="a1"{%if request.GET.lang == "en" %} selected{% endif %}>English</option>
                            <option value="a2"{%if request.GET.lang == "ru" %} selected{% endif %}>Russian</option>
                            <option value="b1"{%if request.GET.lang == "gr" %} selected{% endif %}>German</option>
                            <option value="b2"{%if request.GET.lang == "tr" %} selected{% endif %}>Turkish</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- table -->
<div class="container mb-5">
    <div class="col-11 col-lg-8 mx-auto">
        <table id="" class="table table-hover">
            <thead>
                <tr class="bg-gray text-primary border-primary">
                    <th class="ps-5" style="width:50%;">UNIT</th>
                    <th class="ps-5" style="width:50%;">TITLE</th>
                </tr>
            </thead>
            <tbody>
                {% for word in wordsp %}
                    <tr>
                        <td data-bs-toggle="modal" data-bs-target="#wModal{{word.pk}}">
                            <span class="ps-3">{{word}}</span>
                        </td>
                        <td>
                            {{word.unit_title}}
                        </td>
                    </tr>

                    <div class="modal fade animate__animated" id="wModal{{word.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-light p-0 border border-5">
                            <div class="position-sticky top-0 bg-light modal-header px-4 py-2 m-0" style="translate:0 -1px;z-index:1;">
                                <div class="modal-title" id="wModalLabel">
                                    <div id="word" class="col-auto text-primary d-inline">
                                        {{word}}
                                    </div>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-4">
                                {% for unit in word.data %}
                                {% with un=forloop.counter %}
                                    <div class="cursor-pointer p-3">
                                        <div class="hover-gray py-3" data-bs-toggle="collapse" data-bs-target="#collapseExample{{forloop.counter}}" aria-expanded="false">Unit {{forloop.counter}}</div>
                                        <div class="collapse" id="collapseExample{{forloop.counter}}">
                                            {% for lesson in unit.lessons %}
                                                <div class="p-1 hover-gray" onclick="window.location.assign(`{% url "zth_entry" %}?edit=true&course={{word.pk}}&unit={{un}}&lesson={{forloop.counter0}}`)"> Lesson {{forloop.counter}}</div>
                                            {% endfor %}
                                        </div>
                                    {% if not forloop.last %}<hr class="my-0">{% endif %}
                                    </div>
                                {% endwith %}
                                {% endfor %}
                            </div>
                            <!--div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div-->
                        </div>
                        </div>
                    </div>
                {% endfor %} 
            </tbody>
            <tfoot>
                <tr>
                    <td class="fw-bold" style="font-size:0.7rem;">PAGE {{request.GET.page|default:"1"}} of {{wordsp.paginator.num_pages}}</td>
                    <td class="fw-bold" style="font-size:0.7rem;"></td>
                </tr>
            </tfoot>
        </table>
        
        <div id="pagination" class="d-flex justify-content-center"></div>
    </div>
</div>

<div class="mb-5"></div>

<script>// Page Numbers
    let pageEle = document.getElementById("pagination");
    let totalPages = {{wordsp.paginator.num_pages}};
    let currentPage = {{request.GET.page|default:"1"}};
    let pages = ``;
    pages += `<nav aria-label="..."><ul class="pagination">`;
    {//if has Previous
        `{% if wordsp.has_previous %}
            ${pages += '<li class="page-item"><a class="page-link" href="?q={{request.GET.q}}&filter={{request.GET.filter}}&page={{ wordsp.previous_page_number }}" accesskey="z">Previous</a></li>'}
        {% else %}
            ${pages += '<li class="page-item disabled"><span class="page-link">Previous</span></li>'}
        {% endif %}`;
    }
    {//first page
        if (currentPage>3){
            pages += '<li class="page-item"><a class="page-link" href="?q={{request.GET.q}}&filter={{request.GET.filter}}&page=1">&laquo;</a></li>';
        }
    }
    // middle pages
    for (let x = currentPage-2; x < currentPage+3; x++){
        if (x<1 || x>totalPages){continue;}
        if (x==currentPage){
            pages += `<li class="page-item active"><a class="page-link" href="?q={{request.GET.q}}&filter={{request.GET.filter}}&page=${x}">${x}</a></li>`;
        }else{
            pages += `<li class="page-item"><a class="page-link" href="?q={{request.GET.q}}&filter={{request.GET.filter}}&page=${x}">${x}</a></li>`;
        }
    }
    //last page
    if (currentPage<totalPages-2){
        pages += '<li class="page-item"><a class="page-link" href="?q={{request.GET.q}}&filter={{request.GET.filter}}&page={{ wordsp.paginator.num_pages }}">&raquo;</a></li>';
    }
    {//if has Next
        `{% if wordsp.has_next %}
            ${pages += '<li class="page-item"><a class="page-link" href="?page={{ wordsp.next_page_number }}&q={{request.GET.q}}&filter={{request.GET.filter}}" accesskey="x">Next</a></li>'}
        {% else %}
            ${pages += '<li class="page-item disabled"><span class="page-link">Next</span></li>'}
        {% endif %}`;
    }
    pages += `</ul></nav>`;
    pageEle.innerHTML = pages;
</script>

{% if perms.languages.add_zero_to_hero %}
    <div class="position-fixed bottom-0 right-0 m-3" style="z-index:1;">
        <a href="{% url 'zth_entry' %}" class="btn btn-secondary text-white">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
{% endif %}

{% include "footer.html" %}
{% endblock body %}