{% extends 'base.html' %}

{% block title %} Add Unit {% endblock title %}
{% block body %}
<style>
  /*when navigating through the items using the arrow keys:*/
  .sautocom-box-active {
      background-color: DodgerBlue; 
      color: #ffffff;
  }
</style>
  <div class="position-fixed top-0 start-0 m-3">
    <button class="btn btn-outline-secondary py-2" onclick="window.location.assign('/')">
      <i class="fa-solid fa-house fs-4"></i>
    </button>
  </div>
  <div class="position-fixed top-0 end-0 m-3">
    <button class="btn btn-outline-secondary py-2" onclick="window.location.assign('{% url "dictionary" %}')">
      <i class="fa-solid fa-book fs-4"></i>
    </button>
  </div>

  <!-- search -->
  <div class="container my-4">
    <div class="swrapper col-10 col-md-8">
        <div class="search-input">
            <input type="search" name="q" class="form-control input" placeholder="Type to search..." value="{{request.GET.q}}" autocomplete="off"/>
            <a><div class="icon"><i class="fas fa-search"></i></div></a>
        </div>
    </div>
    <div id="subox" class="w-50 position-fixed top-0 sautocom-box mt-1 rounded-bottom shadow bg-light" style="z-index:1;"></div>

  </div>

  <div class="container my-4">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" id="id_page_count" name="page_count" value="{{wsense|length}}"></input>
      <input type="hidden" id="id_lang" name="lang" value="{{request.GET.lang}}"></input>
      {% include 'messages.html' %}

      <div class="bg-light border border-2 border-primary rounded p-3 mb-3">
        <div class="row">
          <div class="col-12"><h3>UNIT DETAILS</h3></div>
          <div class="col-3">
            <label for="id_unit_title">UNIT TITLE:</label>
            <input type="text" class="form-control" name="unit_title" value="{{title}}" id="id_unit_title"></input>
          </div>
        </div>
      </div>

      <div id="senses">
        {% if edit %}
          {% for sense in wsense %}
            <div id="sense{{forloop.counter}}" class="bg-light border border-2 border-secondary rounded p-3 mb-3">
              <div class="row">
                <div class="col-12 d-flex justify-content-between"><h3>PAGE {{forloop.counter}}</h3> <div onclick="remove('#sense{{forloop.counter}}')">&times;</div></div>
                <div class="col-3">
                  <label for="id_type_{{forloop.counter0}}">TYPE:</label>
                  <select class="form-select" name="type_{{forloop.counter0}}" id="id_type_{{forloop.counter0}}">
                    <option value="">-</option>
                    <option value="word" {% if sense.0 == 'word' %}selected{% endif %}>word</option>
                    <option value="button" {% if sense.0 == 'button' %}selected{% endif %}>button</option>
                    <option value="sen" {% if sense.0 == 'sen' %}selected{% endif %}>sentence/phrase</option>
                    <option value="match" {% if sense.0 == 'match' %}selected{% endif %}>match</option>
                  </select>
                </div>

                <div class="col-3">
                  <label for="id_word_{{forloop.counter0}}">WORD ID:</label>
                  <input type="text" class="input form-control" name="word_{{forloop.counter0}}" value="{{sense.3}}" id="id_word_{{forloop.counter0}}"></input>
                </div>

                <div class="col-3">
                  <label for="id_sense_{{forloop.counter0}}">SENSE:</label>
                  <input type="number" class="form-control" name="sense_{{forloop.counter0}}" value="{{sense.4}}" id="id_sense_{{forloop.counter0}}"></input>
                </div>

                <div class="col-3">
                  <label for="id_level_{{forloop.counter0}}">LEVEL:</label>
                  <input type="number" class="form-control" name="level_{{forloop.counter0}}" value="{{sense.5}}" id="id_level_{{forloop.counter0}}"></input>
                </div>
                
                <div class="col-3">
                  <label for="id_interface_{{forloop.counter0}}">INTERFACE:</label>
                  <select class="form-select" name="interface_{{forloop.counter0}}" id="id_interface_{{forloop.counter0}}">
                    <option value="">-</option>
                    <option value="wcard" {% if sense.1 == 'wcard' %}selected{% endif %}>card</option>
                    <option value="wbutton" {% if sense.1 == 'wbutton' %}selected{% endif %}>button</option>
                    <option value="tr" {% if sense.1 == 'tr' %}selected{% endif %}>translate</option>
                    <option value="match" {% if sense.1 == 'match' %}selected{% endif %}>match</option>
                  </select>
                </div>

                <div class="col-9">
                  <label for="id_content_{{forloop.counter0}}">CONTENT:</label>
                  <textarea class="form-control" rows="2" name="content_{{forloop.counter0}}" id="id_content_{{forloop.counter0}}">{{sense.2}}</textarea>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="bg-light border border-2 border-secondary rounded p-3 mb-3">
            <div class="row">
              <div class="col-12"><h3>PAGE 1</h3></div>
              <div class="col-3">
                <label for="id_type_0">TYPE:</label>
                <select class="form-select" name="type_0" id="id_type_0">
                  <option value="">-</option>
                  <option value="word" {% if sense.0 == 'word' %}selected{% endif %}>word</option>
                  <option value="button" {% if sense.0 == 'button' %}selected{% endif %}>button</option>
                </select>
              </div>

              <div class="col-3">
                <label for="id_word_0">WORD:</label>
                <input type="text" class="input form-control" name="word_0" value="{{sense.3}}" id="id_word_0"></input>
              </div>

              <div class="col-3">
                <label for="id_sense_0">SENSE:</label>
                <input type="number" class="form-control" name="sense_0" value="{{sense.4}}" id="id_sense_0"></input>
              </div>

              <div class="col-3">
                <label for="id_level_0">LEVEL:</label>
                <input type="number" class="form-control" name="level_0" value="{{sense.5}}" id="id_level_0"></input>
              </div>

              <div class="col-3">
                <label for="id_interface_0">INTERFACE:</label>
                <select class="form-select" name="interface_0" id="id_interface_0">
                  <option value="">-</option>
                  <option value="card" {% if sense.1 == 'wcard' %}selected{% endif %}>card</option>
                  <option value="button" {% if sense.1 == 'wbutton' %}selected{% endif %}>button</option>
                  <option value="match" {% if sense.1 == 'match' %}selected{% endif %}>match</option>
                </select>
              </div>
              
              <div class="col">
                <label for="id_content_0">CONTENT:</label>
                <textarea class="form-control" rows="2" name="content_0" id="id_content_0">{{sense.2}}</textarea>
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="d-flex justify-content-end gap-3">
        <div class="">
          <button id="addBtn" type="button" class="btn btn-secondary text-white">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
        <div class="">
          <input type="submit" value="Submit" class="btn btn-success"/>
        </div>
      </div>
    </form>
  </div>

  <script>//Add Entry
    var page_count = document.getElementById("id_page_count");
    let btn = document.getElementById("addBtn");
    let entry = document.getElementById("senses");

    btn.addEventListener("click", function(){
      addEntry();
    });

    //var elems = {{fields.2.context|length}} > 0 ? 3 : {{fields.1.context|length}} > 0 ? 2 : {{fields.0.context|length}} > 0 ? 1 : 0;
    var elems = parseInt(page_count.value);
    function addEntry(){
      let option = `
        <div class="bg-light border border-2 border-secondary rounded p-3 mb-3">
          <div class="row">
            <div class="col-12"><h3>PAGE ${elems+1}</h3></div>
            <div class="col-3">
              <label for="id_type_${elems}">TYPE:</label>
              <select class="form-select" name="type_${elems}" id="id_type_${elems}">
                <option value="">-</option>
                <option value="word">word</option>
                <option value="button">button</option>
                <option value="sen">sentence/phrase</option>
              </select>
            </div>

            <div class="col-3">
              <label for="id_word_${elems}">WORD:</label>
              <input type="text" class="input form-control" name="word_${elems}" value="{{sense.3}}" id="id_word_${elems}"></input>
            </div>

            <div class="col-3">
              <label for="id_sense_${elems}">SENSE:</label>
              <input type="number" class="form-control" name="sense_${elems}" value="{{sense.4}}" id="id_sense_${elems}"></input>
            </div>

            <div class="col-3">
              <label for="id_level_${elems}">LEVEL:</label>
              <input type="number" class="form-control" name="level_${elems}" value="{{sense.5}}" id="id_level_${elems}"></input>
            </div>

            <div class="col-3">
              <label for="id_interface_${elems}">INTERFACE:</label>
              <select class="form-select" name="interface_${elems}" id="id_interface_${elems}">
                <option value="">-</option>
                <option value="card">card</option>
                <option value="button">button</option>
                <option value="tr">translate</option>
                <option value="match">match</option>
              </select>
            </div>
            
            <div class="col">
              <label for="id_content_${elems}">CONTENT:</label>
              <textarea class="form-control" rows="2" name="content_${elems}" id="id_content_${elems}">{{sense.2}}</textarea>
            </div>
          </div>
        </div>
      `;
      entry.insertAdjacentHTML("beforeend",option);
      elems++;
      page_count.value = elems;
    }

    function remove(id){
      document.querySelector(id).remove();
    }
  </script>

  
<script>
    const searchWrapper = document.querySelector(".search-input");
    const inputBox = document.querySelectorAll(".input");
    const suggBox = document.querySelector(".sautocom-box");
    const icon = searchWrapper.querySelector(".icon");
    var linkTag = searchWrapper.querySelector("a");
    var webLink;
    var currentFocus = -1;
    var scval = 0;

    var suggsh = JSON.parse("{{db|escapejs}}");
    // if user press any key and release
    inputBox.forEach(ele => ele.onkeyup = (e)=>{
      var tinp = e.target.id;
        let userData = e.target.value; //user enetered data

        /*execute a function presses a key on the keyboard:*/
        var x = document.getElementById("subox");
        if (x) x = x.getElementsByTagName("li");
        if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);

            //scroll on keydown
            if (currentFocus>4){
                scval += 47;
                suggBox.scrollTo(0, scval);
            } else if (currentFocus==0){
                scval = 0;
                suggBox.scrollTo(0, 0);
            }
        } else if (e.keyCode == 38) {
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
            //scroll on keyup
            if (currentFocus==x.length-1){
                scval = suggBox.scrollHeight-47;
                suggBox.scrollTo(0, scval);
            } else if (currentFocus<x.length) {
                scval -= 47;
                suggBox.scrollTo(0, scval);
            }
        } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
            } else {
                window.location.assign("{% url 'dictionary' %}?q="+userData+'&filter={{request.GET.filter}}');
            }
        } else {
            let emptyArray = [];
            if(userData){
                icon.onclick = ()=>{
                    webLink = `?q=${userData}`;
                    linkTag.setAttribute("href", webLink);
                    linkTag.click();
                    $(".loader-wrapper").fadeIn("slow");
                }

                emptyArray = suggsh.filter((data)=>{
                    return data[1].toLocaleLowerCase().startsWith(userData.toLocaleLowerCase());
                });

                emptyArray = emptyArray.slice(0,20).map((data)=>{ //remove slice method to return all matches
                    // passing return data inside li tag
                    //return data = `<li onclick="window.location.assign('?q=${suggestions_comma[suggestions.indexOf(data)]}')">${suggestions_comma[suggestions.indexOf(data)]} <span class="fst-italic" style="font-size:0.8rem">(${pos[suggestions.indexOf(data)]})</span></li>`;
                    return data = `<li onclick="select('#${tinp}',${data[0]})">${data}</li>`;
                });

                searchWrapper.classList.add("active"); //show autocomplete box
                showSuggestions(emptyArray);
                
                // NOTE: use the below code to edit or overwrite the results "li tag"
                //let allList = suggBox.querySelectorAll("li");
                //for (let i = 0; i < allList.length; i++) {
                //    //adding onclick attribute in all li tag
                //    allList[i].setAttribute("onclick", "window.location.assign('?q='+this.textContent)");//setAttribute("onclick", "select(this)");
                //}
            }else{
                searchWrapper.classList.remove("active"); //hide autocomplete box
            }
            currentFocus = -1; // reset currentFocus
        }
      });

    window.onclick = (e)=>{
      suggBox.classList.add("d-none")
    }
    
    function select(element,val){
      document.querySelector(element).value = val;
      suggBox.classList.add("d-none");
    }

    function showSuggestions(list){
      suggBox.classList.remove("d-none")
        let listData;
        if(!list.length){
            userValue = inputBox.value;
            listData = `<li>${userValue}</li>`;
        }else{
        listData = list.join('');
        }
        suggBox.innerHTML = listData;
    }
    
    function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocom-box-active");
    }
    function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (let i = 0; i < x.length; i++) {
            x[i].classList.remove("autocom-box-active");
        }
    }
</script>
{% endblock body %}