{% extends "base.html" %}
{% block body %}
<style>
    .eb {
        font-weight:bold;
    }
    .eb::before {
        content:'‘'
    }
    .eb::after {
        content:'’'
    }
</style>
    <div class="container my-2">
      
        <div id="done" class="position-absolute top-50 start-50 translate-middle display-1 fw-bold"></div>

        <div class="d-flex justify-content-between mb-3">
            <a href="?t={{request.GET.t|add:-1}}" class="btn btn-success" role="button">Prev</a>
            <a href="?t={{request.GET.t}}&action=aud" class="btn btn-warning" role="button">Aud</a>
            <a href="?t={{request.GET.t}}&action=trim" class="btn btn-warning" role="button">Trim Templates</a>
            <a href="?t={{request.GET.t|add:1}}" class="btn btn-success" role="button">Next</a>
        </div>

        <div style="display:none;">
            {% include "english/dictionary/oxtems/form.html" %}
        </div>
        
        <div id="getter">Oops something has gone wrong!</div>

        <div class="text-end">
            <button class="btn btn-primary" onclick="makeEntry()">Add this entry</button>
        </div>

    </div>

    {% for lin in links %}
        <div style="display:none;">
            {% include lin %}
        </div>
    {% endfor %}

    <script>
        //var len = 0;
        var num = 0;
        function maked(num){
            let content = document.getElementsByClassName("entry-content")[num];
            var tc = content.getElementsByClassName("top-container")[0];
            var word = tc.getElementsByClassName("headword")[0].innerText;
            var pos = tc.getElementsByClassName("pos")[0]; pos = pos ? pos.innerText : "";
            var w_cefr = tc.getElementsByClassName("symbols")[0];
            w_cefr = w_cefr ? w_cefr.getElementsByTagName("span")[0] :"";
            w_cefr = w_cefr ? w_cefr.getAttribute("class").split("_") :"";
            w_cefr = w_cefr ? w_cefr[0]=="ox3ksym" ? w_cefr[1] :"":"";
            var pruk = tc.getElementsByClassName("phons_br")[0] ?? "";
            var prus = tc.getElementsByClassName("phons_n_am")[0] ?? "";
            var gra = tc.getElementsByClassName("grammar")[0]; gra = gra ? gra.innerText : "";
            var help = tc.getElementsByClassName("un")[0];
            help = help ? help.getAttribute("un")=="help" ? help :"":"";
            if (help){
                var helpphonetics = help.getElementsByClassName("phonetics")[0] ?? "";
                if (helpphonetics){
                    var helpsounds = helpphonetics.getElementsByClassName("sound");
                    //modifying src attributes
                    for (let x of helpsounds){
                        let somp3 = x.getAttribute("data-src-mp3").split("/");
                        let soogg = x.getAttribute("data-src-ogg").split("/");
                        x.setAttribute("data-src-mp3",somp3[somp3.length-1].replace("__","_"));
                        x.setAttribute("data-src-ogg",soogg[soogg.length-1].replace("__","_"));
                    }

                    let phonesbr = helpphonetics.getElementsByClassName("phons_br")[0];
                    let phonesus = helpphonetics.getElementsByClassName("phons_n_am")[0];
                    helpphonetics.innerHTML = '<span class="phons_br"> (<span class="fw-bold">UK</span> '+phonesbr.innerHTML+')</span>';
                    helpphonetics.innerHTML += '<span class="phons_am"> (<span class="fw-bold">US</span> '+phonesus.innerHTML+')</span>';
                }

                //making divs to i tags
                var help_htm = help.innerHTML;
                if (helpphonetics){
                    help_htm = help_htm.replaceAll('<div class="sound audio_play_button pron-uk icon-audio"','<i');
                    help_htm = help_htm.replaceAll('<div class="sound audio_play_button pron-us icon-audio"','<i');
                    help_htm = help_htm.replaceAll('top"></div>','top"></i>');
                    help_htm = help_htm.replaceAll('top">&nbsp;</div>','top"></i>');
                }
            }

            var use = tc.getElementsByClassName("use")[0]; use = use ? use.innerText : "";

            var inflections = tc.getElementsByClassName("inflections")[0] ?? "";
            if (inflections){// inflections pronounciation
                var plural = [];
                if (inflections.innerText.includes("plural")){
                    for (let x of inflections.getElementsByClassName("inflected_form")){
                        plural.push(x.innerText);
                    }
                };
                var cforms = [];
                if (inflections.innerText.includes("comparative")){
                    for (let x of inflections.getElementsByClassName("inflected_form")){
                        cforms.push(x.innerText);
                    }
                };

                var infphonetics = inflections.getElementsByClassName("phonetics") ?? "";
                if (infphonetics){
                    var infsounds = inflections.getElementsByClassName("sound");
                    //modifying src attributes
                    for (let x of infsounds){
                        let somp3 = x.getAttribute("data-src-mp3").split("/");
                        let soogg = x.getAttribute("data-src-ogg").split("/");
                        x.setAttribute("data-src-mp3",somp3[somp3.length-1].replace("__","_"));
                        x.setAttribute("data-src-ogg",soogg[soogg.length-1].replace("__","_"));
                    }
                    if (infphonetics[0]){
                        let phonesbr = infphonetics[0].getElementsByClassName("phons_br")[0];
                        let phonesus = infphonetics[0].getElementsByClassName("phons_n_am")[0];
                        infphonetics[0].innerHTML = '<span class="phons_br"> (<span class="fw-bold">UK</span> '+phonesbr.innerHTML+')</span>';
                        infphonetics[0].innerHTML += '<span class="phons_am"> (<span class="fw-bold">US</span> '+phonesus.innerHTML+')</span>';
                    }
                    if (infphonetics[1]){
                        let phonesbr1 = infphonetics[1].getElementsByClassName("phons_br")[0];
                        let phonesus1 = infphonetics[1].getElementsByClassName("phons_n_am")[0];
                        infphonetics[1].innerHTML = '<span class="phons_br"> (<span class="fw-bold">UK</span> '+phonesbr1.innerHTML+')</span>';
                        infphonetics[1].innerHTML += '<span class="phons_am"> (<span class="fw-bold">US</span> '+phonesus1.innerHTML+')</span>';
                    }
                }

                //making divs to i tags
                var inf_htm = inflections.innerHTML;
                if (infphonetics){
                    inf_htm = inf_htm.replaceAll('<div class="sound audio_play_button pron-uk icon-audio"','<i');
                    inf_htm = inf_htm.replaceAll('<div class="sound audio_play_button pron-us icon-audio"','<i');
                    inf_htm = inf_htm.replaceAll('top"></div>','top"></i>');
                    inf_htm = inf_htm.replaceAll('top">&nbsp;</div>','top"></i>');
                }
            }

            var variantss = tc.getElementsByClassName("variants");
            var varis = [];
            if (variantss){// variants pronounciation
                for (let variants of variantss){
                    var vphonetics = variants.getElementsByClassName("phonetics")[0] ?? "";
                    var vsounds = variants.getElementsByClassName("sound");
                    if (vphonetics){
                        //modifying src attributes
                        for (let x of vsounds){
                            let somp3 = x.getAttribute("data-src-mp3").split("/");
                            let soogg = x.getAttribute("data-src-ogg").split("/");
                            x.setAttribute("data-src-mp3",somp3[somp3.length-1].replace("__","_"));
                            x.setAttribute("data-src-ogg",soogg[soogg.length-1].replace("__","_"));
                        }

                        let phonesbr = vphonetics.getElementsByClassName("phons_br")[0];
                        let phonesus = vphonetics.getElementsByClassName("phons_n_am")[0];
                        vphonetics.innerHTML = phonesbr?'<span class="phons_br"> (<span class="fw-bold">UK</span> '+phonesbr.innerHTML+')</span>':"";
                        vphonetics.innerHTML += phonesus?'<span class="phons_am"> (<span class="fw-bold">US</span> '+phonesus.innerHTML+')</span>':"";
                    }

                    //making divs to i tags
                    var variants_htm = variants.innerHTML;
                    if (vphonetics){
                        variants_htm = variants_htm.replaceAll('<div class="sound audio_play_button pron-uk icon-audio"','<i');
                        variants_htm = variants_htm.replaceAll('<div class="sound audio_play_button pron-us icon-audio"','<i');
                        variants_htm = variants_htm.replaceAll('top"></div>','top"></i>');
                        variants_htm = variants_htm.replaceAll('top">&nbsp;</div>','top"></i>');
                        varis.push('<div class="variants">'+variants_htm+'</div>');
                    } else {
                        varis.push('<div class="variants">'+variants_htm+'</div>');
                    }
                }
            }

            var labels = tc.getElementsByClassName("labels");
            var labels_main = [];
            if (labels){
                for (let x of labels){
                    if (x.parentElement.getAttribute("class")=="webtop"){
                        labels_main.push('<span class="labels">'+x.innerHTML+'</span>');
                    }
                }
            }
            
            let unbox = content.getElementsByClassName("unbox");
            var unboxes = {};
            if (unbox){// unboxes like word-origin, culture etc.
                for (let x of unbox){
                    if (x.getAttribute("unbox")=="wordorigin"){
                        let title = x.getElementsByClassName("box_title")[0];
                        let body = x.getElementsByClassName("body")[0];
                        unboxes.word_origin = [
                            title.innerHTML,
                            body.innerHTML
                        ];
                    }
                    if (x.getAttribute("unbox")=="cult"){
                        let title = x.getElementsByClassName("box_title")[0];
                        let body = x.getElementsByClassName("body")[0];
                        unboxes.culture = [
                            title.innerHTML,
                            body.innerHTML,
                        ];
                    };
                };
            };
            let pvarr = content.getElementsByClassName("pvarr");
            if (pvarr){
                for (let p of pvarr){
                    p.innerText = p.innerText.replace(p.innerText,"↔"+p.innerText);
                };
            };
            {// pronounciations
                {//main
                    var pronounciation = {
                        uk:{
                            texts:[],
                            audios:{mp3:[],ogg:[]}
                        },
                        us:{
                            texts:[],
                            audios:{mp3:[],ogg:[]}
                        }
                    }
                    if (pruk){
                        var prukAudios = pruk.getElementsByClassName("sound");
                        var prukTexts = pruk.getElementsByClassName("phon");

                        pronounciation.uk.texts = pruk.innerText.split(",");

                        for (let x = 0; x<prukAudios.length; x++){
                            let mp3 = prukAudios[x].getAttribute("data-src-mp3").split("/");
                            let ogg = prukAudios[x].getAttribute("data-src-ogg").split("/");
                            pronounciation.uk.audios.mp3.push(mp3[mp3.length-1].replace("__","_"));
                            pronounciation.uk.audios.ogg.push(ogg[ogg.length-1].replace("__","_"));
                        }
                    }
                    if (prus){
                        var prusAudios = prus? prus.getElementsByClassName("sound"):"";
                        var prusTexts = prus? prus.getElementsByClassName("phon"):"";
                        
                        pronounciation.us.texts = prus.innerText.split(",");

                        //var us_prefix = ["",""];
                        //prn = 0;
                        //for (let x of prus.childNodes){
                        //    if(x.nodeName=="SPAN"){
                        //        if(prn==0 && x.getAttribute("class")=="prefix"){
                        //            us_prefix[0] = x.innerText;
                        //        }
                        //        if(prn!=0 && x.getAttribute("class")=="prefix"){
                        //            us_prefix[1] = x.innerText;
                        //        }
                        //        if (x.getAttribute("class")!="prefix" && x.innerText!=","){
                        //            if (prn==0){
                        //                pronounciation.us.texts.push(us_prefix[0]+" "+x.innerText);
                        //            } else {
                        //                pronounciation.us.texts.push(us_prefix[1]+" "+x.innerText);
                        //            }
                        //        }
                        //    }
                        //    prn +=1;
                        //};
                        for (let x = 0; x<prusAudios.length; x++){
                            let mp3 = prusAudios[x].getAttribute("data-src-mp3").split("/");
                            let ogg = prusAudios[x].getAttribute("data-src-ogg").split("/");
                            pronounciation.us.audios.mp3.push(mp3[mp3.length-1].replace("__","_"));
                            pronounciation.us.audios.ogg.push(ogg[ogg.length-1].replace("__","_"));
                        }
                    }
                }
            };
            {//shcuts
                var def_head_all = [[],[]];
                var def_heads = content.getElementsByClassName("shcut-g");
                if (def_heads){
                    for (let x of def_heads){
                        let shc = x.getElementsByClassName("shcut")[0];
                        let shcut = shc?shc.innerText:"";
                        let shcut_senses = x.getElementsByClassName("sense");
                        for (let y of shcut_senses){
                            let shcut_sense = y.getAttribute("sensenum");
                            def_head_all[0].push(shcut_sense);
                            def_head_all[1].push(shcut);
                        }
                    }
                }
            };
            {// Senses
                //let smc = content.getElementsByTagName("ol");
                var senses_all = content.getElementsByClassName("sense");

                var ptppofs = [];
                var idioms_startfrom = 0;
                var idcuts = [[],[],[],[]];
                //var idioms_all = [];
                //var idm_lables_all = [];
                //var idm_variants_all = [];
                var variants_all = [];
                var imgs_all = [];
                var cefr_all = [];
                var def_inf_all = [];
                var uses_all = [];
                var shelp_all = [];
                var dtxt_all = [];
                var labels_all = [];
                var context_all = [];
                var definitions_all = [];
                var examples_all = [];
                var extra_examples_all = [];
                var synonyms_all = [];
                var antonyms_all = [];
                var compares_all = [];
                var topics_all = []; // each item of the list is a list with two items wherein at index 0 is "topic name" and at 1 is "cefr" e.g. [success,a1]
                var see_also_all = [];
                var unboxes_all = [];

                var scount = 0;
                for (let sense of senses_all){
                    let variant = sense.getElementsByClassName("variants");
                    let img = sense.getElementsByClassName("thumb")[0];
                    let imgox = img?img.getAttribute("src") : "";
                    let imgname = imgox?imgox.split("/"):""; imgname = imgname?imgname[imgname.length-1]:"";
                    let cefr = sense.getAttribute("cefr");
                    let cefr_1 = sense.getAttribute("fkcefr");
                    let def_inf = sense.getElementsByClassName("grammar")[0];
                    let use = sense.getElementsByClassName("use")[0];
                    let shelp = sense.getElementsByClassName("un")[0];
                    shelp = shelp?shelp.getAttribute("un")=="help"?shelp:"":"";
                    let label = sense.getElementsByClassName("labels")[0];
                    let context = sense.getElementsByClassName("cf")[0];context = context ? context.parentElement.getAttribute("class")=="sense" ? context:"":"";
                    let def = sense.getElementsByClassName("def")[0];
                    let dtxt = sense.getElementsByClassName("dtxt")[0];
                    let example = sense.getElementsByClassName("examples")[0];
                    let extra_example = sense.getElementsByClassName("examples")[1]; // extra examples
                    let xrefs = sense.getElementsByClassName("xrefs");
                    let topic = sense.getElementsByClassName("topic-g");
                    let sunbox = sense.getElementsByClassName("unbox");

                    // catch idiom
                    if (sense.parentElement.parentElement.getAttribute("class")=="idm-g"){
                        let idmg = sense.parentElement.parentElement;
                        let idmg_top = idmg.getElementsByClassName("top-container")[0];
                        let idm = idmg.getElementsByClassName("idm")[0];
                        let idm_label = idmg.getElementsByClassName("labels")[0]; idm_label = idm_label ? idm_label.parentElement.getAttribute("class")=="webtop"?idm_label:"":"";
                        let idm_variant = idmg_top.getElementsByClassName("variants")[0];
                        //let idm_v_label = idm_variant ? idm_variant.getElementsByClassName("labels")[0]:"";
                        //let idm_v = idm_variant ? idm_variant.getElementsByClassName("v")[0]:"";
                        //idioms_all.push(idm.innerText);
                        //idm_lables_all.push(idm_label?idm_label.innerText:"");
                        //idm_variants_all.push(idm_variant?[idm_v_label.innerText,idm_v ? idm_v.innerText:""]:"");
                        if (idioms_startfrom == 0){
                            idioms_startfrom = scount+1;
                        }
                        if (idcuts[0].includes(idm.innerText)){
                            idcuts[3][idcuts[3].length-1].push(scount);
                        } else {
                            idcuts[0].push(idm.innerText);
                            idcuts[1].push(idm_label?idm_label.innerHTML:"");
                            idcuts[2].push(idm_variant?idm_variant.innerHTML:"");//push(idm_variant?[idm_v_label? idm_v_label.innerText:"",idm_v ? idm_v.innerText:""]:"");
                            idcuts[3].push([scount]);
                        }
                    } //else {
                    //    idioms_all.push("");
                    //    idm_lables_all.push("");
                    //    idm_variants_all.push("");
                    //};
                    if (sense.parentElement.parentElement.getAttribute("class")=="pv-g"){
                        let idmg = sense.parentElement.parentElement;
                        let idmg_top = idmg.getElementsByClassName("top-container")[0];
                        if (idmg_top){
                            let idm = idmg.getElementsByClassName("pv")[0];
                            idm = idm ? idm.innerText : word;
                            let idm_label = idmg.getElementsByClassName("labels")[0]; idm_label = idm_label ? idm_label.parentElement.getAttribute("class")=="webtop"?idm_label:"":"";
                            let idm_variant = idmg_top.getElementsByClassName("variants")[0];
                            //let idm_v_label = idm_variant ? idm_variant.getElementsByClassName("labels")[0]:"";
                            //let idm_v = idm_variant ? idm_variant.getElementsByClassName("v")[0]:"";
                            //idioms_all.push(idm.innerText);
                            //idm_lables_all.push(idm_label?idm_label.innerText:"");
                            //idm_variants_all.push(idm_variant?[idm_v_label.innerText,idm_v ? idm_v.innerText:""]:"");
                            if (idioms_startfrom == 0){
                                idioms_startfrom = scount+1;
                            }
                            if (idcuts[0].includes(idm)){
                                idcuts[3][idcuts[3].length-1].push(scount);
                            } else {
                                idcuts[0].push(idm);
                                idcuts[1].push(idm_label?idm_label.innerHTML:"");
                                idcuts[2].push(idm_variant?idm_variant.innerHTML:"");
                                idcuts[3].push([scount]);
                            }
                        }
                    }
                    imgs_all.push([imgox,imgname]);
                    if (cefr){cefr_all.push(cefr);}else{cefr_all.push(cefr_1)};
                    def_inf_all.push(def_inf);
                    uses_all.push(use);
                    shelp_all.push(shelp);
                    labels_all.push(label);
                    context_all.push(context);
                    dtxt_all.push(dtxt);
                    definitions_all.push(def);
                    examples_all.push(example);
                    if (extra_example){
                        if (extra_example.parentElement.getAttribute("unbox")=="extra_examples"){
                        extra_examples_all.push(extra_example);
                        } else {
                            extra_examples_all.push("");
                        }
                    } else {
                        extra_examples_all.push("");
                    };

                    if (variant.lenght){// variants
                        let vri = [];
                        for (let x of variant){
                            let vve = x.getElementsByClassName("v")[0];
                            let vv = vve ? vve.innerText :"";
                            if (vv){
                                vri.push(x.innerText.replace(vv,'<b>'+vv+'</b>'));
                            } else {
                                vri.push(x.innerText);
                            }
                        }
                        variants_all.push(vri);
                    } else {variants_all.push([])};
                    if (topic.length){
                        let tpcs = [[],[]];
                        for (let x of topic){
                            let topic_name = x.getElementsByClassName("topic_name")[0]??"";
                            let topic_cefr = x.getElementsByClassName("topic_cefr")[0]??"";
                            tpcs[0].push(topic_name.innerText);
                            tpcs[1].push(topic_cefr?topic_cefr.innerText:"");
                        };
                        topics_all.push(tpcs);
                    } else {topics_all.push([[],[]])};
                    if (xrefs.length){// synonyms, antonyms, compares
                        for (let x of xrefs){
                            if (x.getAttribute("xt")=="cp"){
                                let cps = x.getElementsByClassName("xh");
                                let cpo = [];
                                for (let cp of cps){
                                    cpo.push(cp.innerText);
                                };
                                compares_all.push(cpo);
                            } else {compares_all.push([])};
                            if (x.getAttribute("xt")=="syn" || x.getAttribute("xt")=="nsyn"){
                                let syns = x.getElementsByClassName("xh");
                                let syns_1 = x.getElementsByClassName("xw");
                                let syno = [];
                                for (let syn of syns){
                                    syno.push(syn.innerText);
                                };
                                for (let syn of syns_1){
                                    syno.push(syn.innerText);
                                };
                                synonyms_all.push(syno);
                            } else {synonyms_all.push([])};
                            if (x.getAttribute("xt")=="opp"){
                                let opps = x.getElementsByClassName("xh");
                                let opps_1 = x.getElementsByClassName("xw");
                                let oppo = [];
                                for (let opp of opps){
                                    oppo.push(opp.innerText);
                                };
                                for (let opp of opps_1){
                                    oppo.push(opp.innerText);
                                };
                                antonyms_all.push(oppo);
                            } else {antonyms_all.push([])};
                            if (x.getAttribute("xt")=="see"){
                                let sees = x.getElementsByClassName("xh");
                                let see = [];
                                for (let s of sees){
                                    see.push(s.innerText);
                                };
                                see_also_all.push(see);
                            } else {see_also_all.push([])};
                            if (x.getAttribute("xt")=="ptppof"){
                                let opps = x.getElementsByClassName("xh");
                                let opps_1 = x.getElementsByClassName("xw");
                                let oppo = [];
                                for (let opp of opps){
                                    oppo.push(opp.innerText);
                                };
                                for (let opp of opps_1){
                                    oppo.push(opp.innerText);
                                };
                                ptppofs.push(oppo);
                            } else {ptppofs.push([])};
                        };
                    } else {
                        compares_all.push([]);
                        synonyms_all.push([]);
                        antonyms_all.push([]);
                        see_also_all.push([]);
                        ptppofs.push([]);
                    };
                    if (sunbox.length){
                        let boxes = [];
                        for (let x of sunbox){
                            if (x.getAttribute("unbox")=="synonyms"){
                                let title = x.getElementsByClassName("box_title")[0];
                                let body = x.getElementsByClassName("body")[0];
                                boxes.push([
                                    title.innerHTML,
                                    body.innerHTML
                                ]);
                            };
                            if (x.getAttribute("unbox")=="grammar"){
                                let title = x.getElementsByClassName("box_title")[0];
                                let body = x.getElementsByClassName("body")[0];
                                boxes.push([
                                    title.innerHTML,
                                    body.innerHTML
                                ]);
                            };
                            if (x.getAttribute("unbox")=="which_word"){
                                let title = x.getElementsByClassName("box_title")[0];
                                let body = x.getElementsByClassName("body")[0];
                                boxes.push([
                                    title.innerHTML,
                                    body.innerHTML
                                ]);
                            };
                            if (x.getAttribute("unbox")=="snippet"){
                                let title = x.getElementsByClassName("box_title")[0];
                                let body = x.getElementsByClassName("body")[0];
                                boxes.push([
                                    title.innerHTML.replace("Oxford",""),
                                    body.innerHTML
                                ]);
                            };
                            if (x.getAttribute("unbox")=="colloc"){
                                let title = x.getElementsByClassName("box_title")[0];
                                let body = x.getElementsByClassName("body")[0];
                                boxes.push([
                                    title.innerHTML,
                                    body.innerHTML
                                ]);
                            };
                        };
                        unboxes_all.push(boxes);
                    } else {unboxes_all.push([])};
                    scount++;
                };
            };
            {// Examples
                var examples = [];
                var usages = [];
                for (let x of examples_all){
                    let ex = x ? x.getElementsByClassName("x") : "";
                    let exs = []; // example
                    for (let y of ex){
                        let cl = y.getElementsByClassName("cl");
                        if (cl.length){// bold words in example
                            for (let z of cl){
                                exs.push(y.innerText.replace(z.innerText,"*"+z.innerText+"*"));
                            }
                        } else {
                            exs.push(y.innerText);
                        }
                    }
                    examples.push(exs);

                    let cx = x ? x.getElementsByClassName("cf") : "";
                    let cxs = []; // usage
                    for (let y of cx){
                        cxs.push([y.innerText,y.parentElement.innerText.replace(y.innerText,"")]);
                    }
                    usages.push(cxs);
                }
            };
            {// Extra Examples
                var extra_examples = [];
                for (let x of extra_examples_all){
                    let ex = x ? x.getElementsByClassName("unx") : "";
                    let exs = []; // example

                    for (let y of ex){
                        exs.push(y.innerText);
                    }
                    extra_examples.push(exs);
                }
            };

            var html = `
                <div class="mb-2"><span class="text-primary fs-1 fw-bold">${word}</span> ${pos} ${w_cefr}</div>
                ${pruk ? `<div id="ukpron" class="mb-2">UK `+pronounciation.uk.texts+`</div>`:""}
                ${prus ? `<div id="uspron" class="mb-2">US `+pronounciation.us.texts+`</div>`:""}
                <div>${variantss ? varis.join("") : ""}</div>
                <div>${inflections ? inf_htm : ""}</div>
                ${help ? `<div class="bg-warning p-2 mb-2 help">`+help+`</div>`:''}
                ${use ? `<div>`+use+`</div>` : ""}
                ${labels ? `<div>`+labels_main+`</div>` : ""}
                ${gra ? `<div>`+gra.innerText+`</div>` : ""}
                Idioms start from sense ${idioms_startfrom}
            `;
            var forms_table = tc.getElementsByClassName("verb_forms_table")[0];
            if (forms_table){//forms
                let form_trs = forms_table ? forms_table.getElementsByTagName("tr") : "";
                var forms = [];
                for (let x of form_trs){
                    var frm = [
                        x.getAttribute("form"),
                        x.getElementsByClassName("verb_form")[0].innerText
                    ];
                    let vphonetics = x.getElementsByClassName("phonetics")[0] ?? "";
                    if (vphonetics){
                        let vsounds = vphonetics.getElementsByClassName("sound");
                        for (let xx of vsounds){
                            let somp3 = xx.getAttribute("data-src-mp3").split("/");
                            let soogg = xx.getAttribute("data-src-ogg").split("/");
                            xx.setAttribute("data-src-mp3",somp3[somp3.length-1].replace("__","_"));
                            xx.setAttribute("data-src-ogg",soogg[soogg.length-1].replace("__","_"));
                        }

                        let phonesbr = vphonetics.getElementsByClassName("phons_br")[0];
                        let phsounds = [[],[]];
                        for (let phbr of phonesbr.getElementsByClassName("sound")){
                            phsounds[0].push(phbr.getAttribute("data-src-mp3"));
                            phsounds[1].push(phbr.getAttribute("data-src-ogg"));
                        };
                        
                        let phphones = phonesbr.innerText.split(",");
                        
                        let phonesus = vphonetics.getElementsByClassName("phons_n_am")[0];
                        let phussounds = [[],[]];
                        if (phonesus){
                            for (let phus of phonesus.getElementsByClassName("sound")){
                                phussounds[0].push(phus.getAttribute("data-src-mp3"));
                                phussounds[1].push(phus.getAttribute("data-src-ogg"));
                            };
                            var phusphones = phonesus.innerText.split(",");
                        }else {
                            var phusphones = [];
                        };
                    
                        frm.push([phphones,phsounds]);
                        frm.push([phusphones,phussounds]);
                    } else {
                        frm.push(["",""]);
                        frm.push(["",""]);
                    }

                    forms.push(frm);
                    //let vphons = x.getElementsByClassName("verb_phons")[0];
                    //let mp3br = vphons.getElementsByClassName("phons_br")[0].getElementsByClassName("sound")[0].getAttribute("data-src-mp3").split("/");
                    //let oggbr = vphons.getElementsByClassName("phons_br")[0].getElementsByClassName("sound")[0].getAttribute("data-src-ogg").split("/");
                    //let mp3us = vphons.getElementsByClassName("phons_n_am")[0].getElementsByClassName("sound")[0].getAttribute("data-src-mp3").split("/");
                    //let oggus = vphons.getElementsByClassName("phons_n_am")[0].getElementsByClassName("sound")[0].getAttribute("data-src-ogg").split("/");

                    //forms.push([
                    //x.getAttribute("form"),
                    //x.getElementsByClassName("verb_form")[0].innerText,
                    //[vphons.getElementsByClassName("phons_br")[0].innerText, vphons.getElementsByClassName("phons_n_am")[0].innerText],
                    //[[mp3br[mp3br.length-1],oggbr[oggbr.length-1]],[mp3us[mp3us.length-1],oggus[oggus.length-1]]],
                    //]);
                }
                var forms_html = ``;

                for (let x of forms){
                    forms_html += `
                    <div class="mb-2">${x[0]}</div>
                    <div class="mb-2">${x[1]}</div>
                    <div class="mb-2">${x[2][0]}</div>
                    <div class="mb-2">${x[3][0]}</div>
                    `;
                }

                html += forms_html;
            }

            for (let x = 0; x<definitions_all.length; x++){
                html+=`
                    <div class="fs-4">${def_head_all[x] ?? ""}</div>

                    <hr class="mt-0">
                    <div class="bg-primary bg-opacity-50 p-2 mb-2">
                        <span class="bg-secondary text-light p-3 rounded">${x+1}</span>
                        ${cefr_all[x] ? cefr_all[x] : ""}
                        ${def_inf_all[x] ? def_inf_all[x].innerText : ""} 
                        ${dtxt_all[x] ? dtxt_all[x].innerText : ""} 
                        <span class="fw-bold">${context_all[x] ? context_all[x].innerText : ""}</span>
                    </div>

                    <div class="mb-2">
                        <div>${imgs_all[x]?`<img src="`+imgs_all[x][0]+`"/>`:""}</div>
                        ${variants_all[x] ? `<div>`+variants_all[x]+`</div>` :""}
                        ${labels_all[x] ? `<div>`+labels_all[x].innerText+`</div>` : ""}
                        ${definitions_all[x]? `<div>`+definitions_all[x].innerText+`</div>` :""}
                    </div>

                    <div class="mb-2">${usages[x].map((cx)=>{return cx = `<div>${cx[0]}</div>`}).join('')}</div>

                    <div class="mb-2">${examples[x].map((ex)=>{return ex = `<div>${ex}</div>`}).join('')}</div>
                    
                    ${extra_examples[x].length ? '<div class="fw-bold">Extra Examples</div>':""}
                    <div class="mb-2">${extra_examples[x].map((ex)=>{return ex = `<div>${ex}</div>`}).join('')}</div>

                    ${synonyms_all[x] ? `<div class="mb-2"><small>SYNONYMS</small> `+synonyms_all[x]+`</div>` : ""}
                    ${antonyms_all[x] ? `<div class="mb-2"><small>ANTONYMS</small> `+antonyms_all[x]+`</div>` : ""}
                    ${compares_all[x] ? `<div class="mb-2"><small>COMPARE</small> `+compares_all[x]+`</div>` : ""}
                    ${see_also_all[x] ? `<div class="mb-2"><small>SEE ALSO</small> `+see_also_all[x]+`</div>` : ""}
                    ${ptppofs[x] ? `<div class="mb-2"><small>past tense, past participle of</small> <a href="{% url 'dictionary' %}?q=`+ptppofs[x]+`">`+ptppofs[x]+`</div>` : ""}

                    <div class="mb-5">
                        ${topics_all[x] ? `<small>TOPIC</small> `+topics_all[x][0]+" "+topics_all[x][1] : ""}
                    </div>
                `;
            }

            {// Footer
                html +=`
                    ${unboxes.word_origin?
                        `<div class="fw-bold">`+unboxes.word_origin[0]+`</div>`+
                        `<div class="">`+unboxes.word_origin[1]:""
                    }
                `;
            }

            //document.getElementById("getter").innerHTML = html;

            function makeEntry(){
                let entry = {
                    "word":word,
                    "plural":plural?plural.join():"",
                    "pos":pos??"",
                    "cefr":w_cefr??"",
                    "pronounciation":pronounciation??"",
                    "csforms":cforms?cforms.join():"",
                    "forms":forms??"",
                    "senses":[],
                    "word_details":[
                        ["m",num+3641],
                        gra,
                        variantss ? varis.join("") :"",
                        inflections ? inf_htm : "",
                        use,
                        labels_main.join(""),
                        help_htm??"",
                        unboxes.word_origin?unboxes.word_origin:"",
                        unboxes.culture?unboxes.culture:""
                    ],
                    "idioms_startfrom":idioms_startfrom,
                    "idcuts":idcuts
                };

                for (let x = 0; x<definitions_all.length; x++){
                    if (def_head_all[0].includes((x+1).toString())){
                        var def_head = def_head_all[1][def_head_all[0].indexOf((x+1).toString())];
                    } else {
                        var def_head = "";
                    }
                    //"idiom":idioms_all[x]?idioms_all[x]:"",
                    //"idiom_label":idm_lables_all[x]?idm_lables_all[x]:"",
                    //"idiom_variant":idm_variants_all[x]?idm_variants_all[x]:"",
                    entry.senses.push([
                        x+1,
                        def_head,
                        cefr_all[x]??"",
                        imgs_all[x]?imgs_all[x][1]:"",
                        dtxt_all[x] ? dtxt_all[x].innerText : "",
                        context_all[x] ? context_all[x].innerText : "",
                        labels_all[x] ? labels_all[x].innerText : "",
                        variants_all[x] ? variants_all[x] : "",
                        def_inf_all[x] ? def_inf_all[x].innerText : "",
                        definitions_all[x] ? definitions_all[x].innerText : "",
                        examples[x] ? examples[x].concat(extra_examples[x]) :"",
                        usages[x],
                        synonyms_all[x] ? synonyms_all[x] : [],
                        antonyms_all[x] ? antonyms_all[x] : [],
                        compares_all[x] ? compares_all[x] : [],
                        see_also_all[x] ? see_also_all[x] : [],
                        topics_all[x] ? topics_all[x] : [[],[]],
                        uses_all[x] ? uses_all[x].innerText : "",
                        shelp_all[x] ? shelp_all[x].innerText : "",
                        unboxes_all[x] ? unboxes_all[x] : []
                    ]);
                };
                addEntry(entry);
            }

            function addEntry(entry){
                const xhttp = new XMLHttpRequest();
                xhttp.onload = ()=>{
                    num = num+1;
                    document.getElementById("done").innerHTML = num;
                    maked(num);
                }
                xhttp.open("POST","{% url 'oxtems' %}", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send(`csrfmiddlewaretoken={{csrf_token}}&data=${JSON.stringify(entry).replaceAll("&","ampp")}`);
            }

            function parent(ele,pele){
                return ele.parentElement.parentElement.parentElement.parentElement.getAttribute("class")==pele
            }

            makeEntry();
            //myTimeOut = setTimeout(()=>{window.location.assign('?t={{request.GET.t|add:1}}')}, 1000);
        }
        maked(num);
        //let nn = 0;
        //myInterval = setInterval(()=>{maked(nn);nn++;}, 250);
    </script>
{% endblock body %}