<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical" data-boxed-layout="boxed" data-card="shadow">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    {% block og %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.lingolab.in/"/>
    <meta property="og:title" content="LingoLab"/>
    <meta property="og:description" content="Learn and Grow!"/>
    <meta property="og:site_name" content="LingoLab"/>
    <meta name="twitter:site" content="@lingolab">
    <meta name="twitter:creator" content="@lingolab">
    <meta name="twitter:title" content="LingoLab"/>
    <meta name="twitter:description" content="Learn and Grow!">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:widgets:new-embed-design" content="on">
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta property="og:image" content="https://www.lingolab.in/static/img/lingo.png"/>
    <meta name="twitter:image:src" content="https://www.lingolab.in/static/img/lingo.png"/>
    {% endblock og %}
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <title>{% block title %}{% endblock title %}LingoLab</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/styles_fll.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <link rel="stylesheet" href="/static/css/responsive.css"/>
    <link rel="stylesheet" href="/static/css/compof.css"/>
    <link rel="stylesheet" href="/static/fonts/tabler-icons-2.36.0/webfont/tabler-icons.min.css"/>
    {% include 'static/css/styles.html' %}
    {% block css %}{% endblock css %}
    
    <!--Font Awesome-->
    <link rel="stylesheet" href="/static/fonts/fontawesome-free-6.4.0-web/css/all.min.css">
    
    <!-- Scripts -->
    <script src="/static/js/web/jquery-3.6.3.min.js"></script>
    <script>
        (() => {
            'use strict'
        
            const getStoredTheme = () => localStorage.getItem('theme')
            const setStoredTheme = theme => localStorage.setItem('theme', theme)
        
            const getPreferredTheme = () => {
            const storedTheme = getStoredTheme()
            if (storedTheme) {
                return storedTheme
            }
        
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
            }
        
            const setTheme = theme => {
            if (theme === 'auto') {
                document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
            }
        
            setTheme(getPreferredTheme())
        
            const showActiveTheme = (theme, focus = false) => {
            const themeSwitcher = document.querySelector('#bd-theme')
        
            if (!themeSwitcher) {
                return
            }
        
            const themeSwitcherText = document.querySelector('#bd-theme-text')
            const activeThemeIcon = document.querySelector('.theme-icon-active use')
            const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
            const svgOfActiveBtn = btnToActive.querySelector('svg use').getAttribute('href')
        
            document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                element.classList.remove('active')
                element.setAttribute('aria-pressed', 'false')
            })
        
            btnToActive.classList.add('active')
            btnToActive.setAttribute('aria-pressed', 'true')
            activeThemeIcon.setAttribute('href', svgOfActiveBtn)
            const themeSwitcherLabel = `${themeSwitcherText.textContent} (${btnToActive.dataset.bsThemeValue})`
            themeSwitcher.setAttribute('aria-label', themeSwitcherLabel)
        
            if (focus) {
                themeSwitcher.focus()
            }
            }
        
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
            const storedTheme = getStoredTheme()
            if (storedTheme !== 'light' && storedTheme !== 'dark') {
                setTheme(getPreferredTheme())
            }
            })
        
            window.addEventListener('DOMContentLoaded', () => {
            showActiveTheme(getPreferredTheme())
        
            document.querySelectorAll('[data-bs-theme-value]')
                .forEach(toggle => {
                toggle.addEventListener('click', () => {
                    const theme = toggle.getAttribute('data-bs-theme-value')
                    setStoredTheme(theme)
                    setTheme(theme)
                    showActiveTheme(theme, true)
                })
                })
            })
        })()

        today = new Date();
    </script>
    <link rel="manifest" href="/static/js/manifest.json">
    {% block head %}{% endblock head %}
</head>
<body class="bg-body">
    <div class="loader-wrapper">
        <span class="loader-124"></span>
    </div>
    <div id="top"></div>
    
    {% include "static/components/notifications.html" %}
    
    {% block body %}{% endblock body %}
    
    <div id="bottom"></div>

    <!-- LOADING ANIMATION -->
    <!--div class="loader-wrapper">
        <span class="loader-124"><span class="loader-inner"></span></span>
    </div-->
    <!-- LOADING ANIMATION STOP -->
    <script>
        $(window).on("load", function() {
            $(".loader-wrapper").fadeOut();
        });
        window.addEventListener("visibilitychange", function(event){
            $(".loader-wrapper").fadeOut();
        });

        $('a[href]').on('click',function(){
            $(".loader-wrapper").fadeIn();
        });
        $('*').on('click',function(){
            if ($(this).attr('data-cl') == "lk"){
                $(".loader-wrapper").fadeIn();
            }
        });
    </script>
    
    {% comment %} {% include "pwa_installer.html" %}
    <script src="/static/js/sw.js"></script> {% endcomment %}

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = document.getElementById('title_bar').getBoundingClientRect().height //$('theader').outerHeight();
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;

        window.addEventListener("scroll", function(event){
            didScroll = true;
        });
        //$(window).scroll(function(event){
        //    didScroll = true;
        //});

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('theader').css('transform','translate(0, -'+navbarHeight+'px)');
                $('.sticky').css({"top":"1rem"}); // for Word Page Nearby Words
                if (document.documentElement.scrollTop > height-20){
                    $('#tbt').css({"transform":"rotate(180deg)"}).attr("onclick","window.location.assign('#top')");
                } else {
                    $('#tbt').css({"transform":"rotate(0)"}).attr("onclick","window.location.assign('#bottom')");
                }
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('theader').css('transform','translate(0, 0)');
                    $('.sticky').css({"top":"4rem"});
                    $('#tbt').css({"transform":"rotate(180deg)"}).attr("onclick","window.location.assign('#top')")
                }
            }

            lastScrollTop = st;
        }
    </script>
    
    <script>
        // Connection Online / Offline Status
        function updateOnlineStatus(){
            let content = document.getElementById("content");
            let textContent = `Your network status is ${navigator.onLine ? "Online" : "Offline"} `;
            //content.textContent = textContent;
        }
        document.addEventListener("DOMContentLoaded", function () {
            updateOnlineStatus();
            window.addEventListener('online',  updateOnlineStatus);
            window.addEventListener('offline', updateOnlineStatus);
        });
    </script>
    
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
        window.onload = function() {
            document.querySelectorAll('[data-bs-toggle="popover"]').forEach(el => new bootstrap.Popover(el));
            document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        }
    </script>

    {% if request.user.is_authenticated %}
    <script>
        setInterval(updls, 60000);
        function updls() {
            let hours = today.getHours();
            let minutes = today.getMinutes();
            //let seconds = today.getSeconds();

            let userlog = new XMLHttpRequest();
            userlog.open("GET",`{% url 'userlog' %}?user={{request.user.pk}}&t=${hours}:${minutes}`, true);
            userlog.send();
        };
    </script>
    {% endif %}
</body>
</html>