<theader class="bg-body shadow" id="headerm">
    <div id="title_bar" class="">
        <div id="title" class="ps-4 col-md-3 py-3">
            <a href="/"><img src="/static/img/dark-logo_ad.svg"/></a>
        </div>

        <div class="col-6 d-none d-md-flex justify-content-center align-items-center gap-1 font-public">
            <div><a class="btn btn-light text-secondary" href="/"><i class="ti ti-home"></i> Home</a></div>
            <div class="dropdown-center">
                <button class="btn btn-light text-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Learn <i class="fas fa-chevron-down"></i>
                </button>
                <div class="dropdown-menu header-menu p-3 m-1 shadow-lg border-0" style="width:400%;">
                    <li><h6 class="dropdown-header text-body">ENGLISH</h6></li>
                    <li><a href="{% url 'dictionary' %}">Dictionary</a></li>
                    <li><a href="{% url 'dictionary_topic' %}">Topics Dictionary</a></li>
                    <li><a href="/english">Posts</a></li>
                    <li><a href="/english/presentindefinite">Tenses</a></li>
                    <li><a href="{% url 'learn_home' %}">learn from zero</a></li>
                    <li><a href="{% url 'dictionary_collocation' %}">Collocation Dictionary</a></li>
                    <li><a href="{% url 'ipa_converter' %}">IPA Converter</a></li>
                    <li class="superuser"><a href="">Grammar</a></li>
                    <li class="superuser"><a href="/english">Reading</a></li>
                    <li class="superuser"><a href="/english">Listening</a></li>
                    <li class="superuser"><a href="/english">Writing</a></li>
                    <li class="superuser"><a href="/english">Pronunciation</a></li>
                    <li class="superuser"><a href="/english">Vocabulary</a></li>
                    <li class="superuser"><a href="/english/flashcards">Flashcards</a></li>
                    <li class="superuser"><a href="{% url "zth" %}?lang=en">ZTH</a></li>
                </div>
            </div>
            <div class="authenticated"><a class="btn {% if request.notifications %}learner-notif text-white{% else %}btn-light text-secondary{% endif %}" onclick="notifications()">Notifications <span class="badge bg-light text-dark">{{request.notifications|length}}</span></a></div>
        </div>

        <div id="user" class="d-none d-md-flex justify-content-end col-3 pe-3">
            {% if request.user.is_authenticated %}
                <div id="ui_container" class="ui_container me-2">
                    <div class="d-none d-md-block">{{request.user.username}}</div>
                    <div class="d-block d-md-none">{{request.user.username|slice:"0:1"}}</div>
                    <div class="hidden">
                        <div class="ui_main shadow-lg">
                            <ul>
                                {% if request.user.is_superuser %}
                                    <li><a href="/admin"><i class="fa-solid fa-toolbox"></i> admin panel</a></li>
                                    <li><a href="{% url 'dashboard' %}"><i class="fa-solid fa-gauge"></i> dashboard</a></li>
                                {% endif %}
                                <li><a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i> my account</a></li>
                                <li><a href="{% url 'change_profile' %}"><i class="fa-solid fa-gear"></i> settings</a></li>
                                <li><a href="{% url 'sign_out' %}"><i class="fa-solid fa-right-from-bracket"></i> sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="fs-5 text-primary">
                    <a href="{% url 'sign_in' %}?next={{request.path}}"><i class="fa-solid fa-right-to-bracket"></i> login </a> | 
                    <a href="{% url 'sign_up' %}"><i class="fa-solid fa-user-plus"></i> register</a>
                </div>
            {% endif %}
        </div>

        <button class="btn btn-outline-light text-secondary d-md-none fs-2 px-4 py-3 cursor-pointer" data-bs-toggle="offcanvas" data-bs-target="#sidebarm"><i class="ti ti-menu-2"></i></div>
    </div>

    <!--nav class="d-none bg-learnerf">
        <ul>
            <li><a href="/">home</a></li>
            <li id="languages" class="">
                <a>learn</a>
                <div class="hidden">
                    <div class="sub_items_main d-flex flex-wrap gap-3 border-bottom border-4 border-light p-4 shadow">
                        <div class="column">
                            <div class="heading transition_05">english</div>
                            <ul>
                                <li><a href="{% url 'dictionary' %}">Dictionary</a></li>
                                <li><a href="/english">Posts</a></li>
                                <li><a href="/english/presentindefinite">Tenses</a></li>
                                <li><a href="{% url 'learn_english' 1 %}">learn english (zero to hero)</a></li>
                                <li><a href="{% url 'dictionary_collocation' %}">Collocation Dictionary</a></li>
                                <li><a href="{% url 'ipa_converter' %}">IPA Converter</a></li>
                                <li class="superuser"><a href="">Grammar</a></li>
                                <li class="superuser"><a href="/english">Reading</a></li>
                                <li class="superuser"><a href="/english">Listening</a></li>
                                <li class="superuser"><a href="/english">Writing</a></li>
                                <li class="superuser"><a href="/english">Pronunciation</a></li>
                                <li class="superuser"><a href="/english">Vocabulary</a></li>
                                <li class="superuser"><a href="/english/flashcards">Flashcards</a></li>
                            </ul>
                        </div>
                        <div class="column">
                            <div class="heading">muslim.pro</div>
                            <ul>
                                <li><a href="{% url 'prayers' %}">prayers</a></li>
                                <li><a href="{% url 'memorize_quran' %}">memorize quran</a></li>
                                <li><a href="{% url 'memorize_quran' %}">masail-o-ahkam</a></li>
                                <li><a href="{% url 'memorize_quran' %}">books</a></li>
                                <li><a href="{% url 'memorize_quran' %}">supplications (duas)</a></li>
                            </ul>
                        </div>
                        <div class="column superuser">
                            <div class="heading">Programming</div>
                            <ul>
                                <li><a href="/math">mathematics</a></li>
                                <li><a href="/coding/">coding</a></li>
                            </ul>
                        </div>

                        <div class="column">
                            <div class="heading">other</div>
                            <ul>
                                <li><a href="{% url 'prayers' %}">general knowledge</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a onclick="notifications()">notifications</a></li>
            <li><a href="{% url 'contact_us' %}?next={{request.path}}">contact us</a></li>
        </ul>
    </nav-->
    <div class="progress-container">
        <div class="progress-bar bg-learner" id="myBar"></div>
    </div>
</theader>

<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarm" aria-labelledby="offcanvasExampleLabel" aria-modal="true" role="dialog">

    <!--div class="bg-stars">
    <div class='stars'></div>
    <div class='stars2'></div>
    <div class='stars3'></div>
    </div-->

    <div class="d-flex justify-content-between align-items-center bg-white p-3 border-2 border-bottom">
        <img src="/static/img/dark-logo_ad.svg" style="height:40px;width:auto"/>
        <button type="button" class="btn-close fs-4" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="link-group link-gray font-public fw-semibold fs-5 px-3 my-3">
        <li class="authenticated"><a onclick="notifications()"><i class="ti ti-notification fs-4"></i> Notifications <span class="badge {% if request.notifications %}learner-notif{% else %}bg-secondary{% endif %} text-white">{{request.notifications|length}}</span></a></li>
        <li><a href="{% url "dictionary" %}"><i class="fa-solid fa-book"></i> Dictionary</a></li>
        <li><a href="{% url "posts" %}"><i class="fa-regular fa-newspaper"></i> Posts</a></li>
    </div>

    <div class="w-100 position-absolute bottom-0 start-0">
        <div class="card bg-light p-3">
        {% if request.user.is_authenticated %}
        <button class="col-12 btn btn-light text-secondary d-flex justify-content-between align-items-center fw-semibold" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><span>My Account</span> <i class="fas fa-chevron-down"></i></button>
        <div class="collapse" id="collapseExample">
            <div class="card-body">
                <div class="text-secondary mb-3">
                    <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
                        <div class="profile-pic text-center">
                            <img src="{{user.profile.image.url}}" class="p-1 rounded-circle account-img shadow bg-white" style="width:10rem;height:auto"/>
                        </div>
            
                        <div class="d-flex flex-column text-center text-md-start">
                            <div class="">
                                <span class="bg-gray-200 p-1 rounded">
                                    @{{user.username}}
                                </span>
                            </div>
                            
                            {% if user.first_name %}
                                <div class="fs-1 text-uppercase my-2">
                                    {{user.first_name}} {{user.last_name}}
                                </div>
                            {% endif %}
                            
                            <div class="fs-5 px-1 text-center">
                                {% if user.pk == 1 %}
                                Servant at Learners' Academy
                                {% else %}
                                User
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="text" class="form-control" id="status_update" placeholder="Update Status"/>
                <div class="link-group link-gray font-public fs-7 my-3">
                    <li class="superuser"><a href="/admin"><i class="fa-solid fa-sliders"></i> Admin Panel</a></li>
                    <li><a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i> Profile</a></li>
                </div>
                <a href="{% url 'sign_out' %}" role="button" class="btn btn-danger text-end"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</a>
            </div>
        </div>
        {% else %}
        <a href="{% url 'sign_in' %}" role="button" class="col-12 btn btn-light fw-semibold lsp-sm mb-1">Login</a>
        <a href="{% url 'sign_up' %}" role="button" class="col-12 btn btn-primary fw-semibold lsp-sm">Register</a>
        {% endif %}
        </div>
    </div>
</div>

<div id="divider"></div>

<script>
    var thdr = document.getElementsByTagName("theader")[0].getBoundingClientRect().height;
    var navdr = 0//document.getElementsByTagName("nav")[0].getBoundingClientRect().height
    const box = thdr+navdr;
    document.getElementById("divider").style.height = box+"px";
</script>

<script>
    let uic = document.getElementById("ui_container")
    let lang = document.getElementById("languages")

    if (lang){
        lang.addEventListener("click", function() {
            var hidden = this.querySelector(".hidden")
            hidden.classList.toggle("show")
        });
    };

    if (uic){
        uic.addEventListener("click", function() {
            var hidden = this.querySelector(".hidden")
            hidden.classList.toggle("show")
        });
    };
</script>