{% extends 'base.html' %}
{% block body %}

{% include "header.html" %}
{% include "messages.html" %}

<!--style>
  #dstate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    color: #3cb371;
    z-index: 100;
  }
</style-->

{% if request.user.is_superuser %}
{% else %}
<!--div id="dstate">
  <theader class="p-5">
    <div id="title_bar">
      <div id="title">
        <a href="/"><img src="/static/img/dark-logo_ad.svg"/></a>
      </div>
      <div id="user" class="me-5">
        <a class="fs-6 fw-bold" href="/admin"><i class="fa-solid fa-toolbox"></i> ADMIN PANEL</a>
      </div>
    </div>
  </theader>
  <div class="h-100 d-flex justify-content-center align-items-center flex-column text-center">
    <div class="fs-1"><i>Oops!</i></div>
    <div class="fs-1"><i>The app is under deveplopment state.</i></div>
    <div class="fs-1"><i>Thank you for visiting us!</i></div>
  </div>
</div-->
{% endif %}

<section id="sl" class="shadow mb-3">
  <div id="headersl">
  </div>
  <div id="caption" class="d-none d-lg-inline-block">
    <div id="text">
      <h1>Learn</h1>
      <h1>&amp;</h1>
      <h1>Grow</h1>
    </div>
  </div>
  <div id="title">
    <div class="position-relative ps-4 pb-3">
      <span class="position-absolute top-0 start-0 text-success">❝ </span>
      {{quotes.quote}}
      <button id="q-auth" class="btn position-absolute bottom-0 start-0 text-light fw-light fs-6 btn-success rounded-4 py-1 px-2">{{quotes.author}}</button>
      <span class="position-absolute bottom-0 end-0 text-success"> ❞</span>
    </div>
  </div>
</section>

<!-- search -->
<div id="searc" class="container pt-3">
  <div class="swrapper col-10 col-md-8">
      <div class="search-input">
          <input type="search" name="q" placeholder="Type to search..." value="{{request.GET.q}}" autocomplete="off"/>
          <div id="subox" class="autocom-box mt-1 rounded-bottom shadow">
          </div>
          <a><div class="icon"><i class="fas fa-search"></i></div></a>
      </div>
  </div>
</div>

<hr class="my-5">

{% include "iht" %}

<hr class="my-5">

<!-- WOD -->
<div class="container-fluid">
  <div class="d-flex justify-content-center w-100">
    <div class="bg-light col-12 col-md-8 rounded shadow">
      <div class="d-flex justify-content-between bg-primary bg-opacity-50 p-3 rounded shadow-sm">
        <span class="col-auto bg-primary text-white py-1 px-3 rounded-2"><i class="fa-solid fa-star me-2"></i> Word of the Day</span>
        <span class="col-auto text-end bg-primary text-light py-1 px-3 rounded-2"><i class="fa-regular fa-calendar-days me-2"></i> {% now "D, d M, Y" %}</span>
      </div>
      
      <div class="text-center text-secondary px-2 py-4 cursor-pointer" onclick="window.location.assign('{% url 'word' word.pk %}')">
        <div class="display-5 text-primary">{{word.word}}</div>
        <div class="fs-5 fst-italic">({{word.pos}})<hr></div>
        <span class="fs-4">: {{word.senses.0.9.en.0.0}}</span>
      </div>

      <div class="bg-primary bg-opacity-50 p-1 rounded">
      </div>
    </div>
  </div>
</div>

<hr class="my-5">

<!-- Exercise -->
<!--div class="p-3">
<div class="card card-body bg-light col-12 col-md-8 mx-auto shadow-sm">

  <div class="text-center">Name that thing</div>

  <div class="text-center">
    <img src="/media/dictionary/img/fullsize/fedora.jpg" class="border border-4 border-secondary rounded my-3" style="width:25rem;height:auto;"/>
  </div>

  <div class="d-flex flex-wrap justify-content-between gap-2 mb-2">
    <button type="button" class="btn btn-secondary col-12 col-md">Option</button>
    <button type="button" class="btn btn-secondary col-12 col-md">Option</button>
  </div>
  <div class="d-flex flex-wrap justify-content-between gap-2">
    <button type="button" class="btn btn-secondary col-12 col-md">Option</button>
    <button type="button" class="btn btn-secondary col-12 col-md">Option</button>
  </div>
</div>
</div-->


<div class="p-3 rounded mx-2 shadow border border-4">
  <div class="col-12 d-flex justify-content-between mb-3">
    <div class="col-auto">
      <div class="fs-5 text-secondary fw-bold px-3 py-1 shadow-sm rounded border border-4">Latest English Posts</div>
    </div>
  
    <div class="col-auto">
      <a href="/english/" class="btn btn-sm btn-secondary">Show All</a>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row flex-md-wrap justify-content-center">
    {% for post in posts %}
    <div class="card col-12 col-md-5 col-lg mx-md-1 mb-3 shadow-sm">
      <div id="lesson_cont" class="card-img-top position-relative cursor-pointer" onclick="window.location.assign(`{% url 'post_detail' post.pk %}`)">
        <div class="position-absolute top-0 start-0 bg-secondary bg-opacity-50 py-1 px-2 fs-7 fst-italic rounded text-light">
          {{post.created_at|date:"j-m-y"}}
        </div>
        <div id="lesson_title" class="d-flex justify-content-center align-items-center">
          <div class="">
            <div class="fs-9">■ ■ ■</div>
            <div class="fs-3 fst-italic" style="font-family:Poppins;">{{post.topic.name|title}}</div>
            <div class="fs-9">■ ■ ■</div>
          </div>
        </div>
        {% if post.like_set.count > 10 %}
          <div class="position-absolute bottom-0 end-0 bg-secondary bg-opacity-75 py-1 px-2 rounded-3 text-light">
            <i class="fa fa-thumbs-up fs-6"></i> <span class="badge text-light">{{post.like_set.count}}</span>
          </div>
        {% endif %}
      </div>
  
      <div class="card-body">
        <div class="">
          <div class="fw-bold fs-4 text-primary cursor-pointer" onclick="window.location.assign(`{% url 'post_detail' post.pk %}`)">{{ post.title }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  
<hr class="my-5">

<div class="p-3 rounded mx-2 shadow border border-4">
  <div class="col-12 d-flex justify-content-between mb-3">
    <div class="col-auto">
      <div class="fs-5 text-secondary fw-bold px-3 py-1 shadow-sm rounded border border-4">Latest Facts & GK Posts</div>
    </div>
  
    <div class="col-auto">
      <a href="{% url "gkposts" %}" class="btn btn-sm btn-secondary">Show All</a>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row flex-md-wrap justify-content-center">
    {% for post in gks %}
    <div class="card col-12 col-md-5 col-lg mx-md-1 mb-3 shadow-sm">
      <div id="lesson_cont" class="card-img-top position-relative cursor-pointer" onclick="window.location.assign(`{% url 'gkpost_detail' post.pk %}`)">
        <div class="position-absolute top-0 start-0 bg-secondary bg-opacity-50 py-1 px-2 fs-7 fst-italic rounded text-light">
          {{post.created_at|date:"j-m-y"}}
        </div>
        <div id="lesson_title" class="d-flex justify-content-center align-items-center">
          <div class="">
            <div class="fs-9">■ ■ ■</div>
            <div class="fs-3 fst-italic" style="font-family:Poppins;">{{post.topic.name|title}}</div>
            <div class="fs-9">■ ■ ■</div>
          </div>
        </div>
        {% if post.like_set.count > 10 %}
          <div class="position-absolute bottom-0 end-0 bg-secondary bg-opacity-75 py-1 px-2 rounded-3 text-light">
            <i class="fa fa-thumbs-up fs-6"></i> <span class="badge text-light">{{post.like_set.count}}</span>
          </div>
        {% endif %}
      </div>
  
      <div class="card-body">
        <div class="">
          <div class="fw-bold fs-4 text-primary cursor-pointer" onclick="window.location.assign(`{% url 'gkpost_detail' post.pk %}`)">{{ post.title }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="/static/js/suggsh.js"></script>
<script>
    const searchWrapper = document.querySelector(".search-input");
    const inputBox = searchWrapper.querySelector("input");
    const suggBox = searchWrapper.querySelector(".autocom-box");
    const icon = searchWrapper.querySelector(".icon");
    var linkTag = searchWrapper.querySelector("a");
    var webLink;
    var currentFocus = -1;
    var scval = 0;

    inputBox.onclick = function(){
      window.location.assign("#searc");
      inputBox.focus();
    }
    // if user press any key and release
    inputBox.onkeyup = (e)=>{
        let userData = e.target.value; //user enetered data

        /*execute a function presses a key on the keyboard:*/
        var x = document.getElementById("subox");
        if (x) x = x.getElementsByTagName("li");
        if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);

            //scroll on keydown
            if (currentFocus>4){
                scval += 47;
                suggBox.scrollTo(0, scval);
            } else if (currentFocus==0){
                scval = 0;
                suggBox.scrollTo(0, 0);
            }
        } else if (e.keyCode == 38) {
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
            //scroll on keyup
            if (currentFocus==x.length-1){
                scval = suggBox.scrollHeight-47;
                suggBox.scrollTo(0, scval);
            } else if (currentFocus<x.length) {
                scval -= 47;
                suggBox.scrollTo(0, scval);
            }
        } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
            } else {
                window.location.assign("/english/dictionary?q="+userData+'&filter={{request.GET.filter}}');
            }
        } else {
            let emptyArray = [];
            if(userData){
                icon.onclick = ()=>{
                    webLink = `/english/dictionary?q=${userData}`;
                    linkTag.setAttribute("href", webLink);
                    linkTag.click();
                }

                emptyArray = suggsh.filter((data)=>{
                    //filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
                    return data[1].toLocaleLowerCase() == userData.toLocaleLowerCase();
                });

                emptyArray2 = suggsh.filter((data)=>{
                    return data[1].toLocaleLowerCase() != userData && data[1].replace(/[^a-zA-Z0-9 ]/g,'').includes(userData.toLocaleLowerCase());
                });

                emptyArray = emptyArray.concat(emptyArray2);
                emptyArray = emptyArray.slice(0,51).map((data)=>{ //remove slice method to return all matches
                    // passing return data inside li tag
                    //return data = `<li onclick="window.location.assign('?q=${suggestions_comma[suggestions.indexOf(data)]}')">${suggestions_comma[suggestions.indexOf(data)]} <span class="fst-italic" style="font-size:0.8rem">(${pos[suggestions.indexOf(data)]})</span></li>`;
                    return data = `<li onclick="window.location.assign('/english/word/${data[0]}')">${data[1]} ${data[2]?'<span class="text-secondary fst-italic fs-8">('+data[2]+')</span></li>':''}`;
                });

                searchWrapper.classList.add("active"); //show autocomplete box
                showSuggestions(emptyArray);
                
                // NOTE: use the below code to edit or overwrite the results "li tag"
                //let allList = suggBox.querySelectorAll("li");
                //for (let i = 0; i < allList.length; i++) {
                //    //adding onclick attribute in all li tag
                //    allList[i].setAttribute("onclick", "window.location.assign('?q='+this.textContent)");//setAttribute("onclick", "select(this)");
                //}
            }else{
                searchWrapper.classList.remove("active"); //hide autocomplete box
            }
            currentFocus = -1; // reset currentFocus
        }
    }

    window.onclick = (e)=>{
        searchWrapper.classList.remove("active");
    }
    
    function select(element){
        let selectData = element.textContent;
        inputBox.value = selectData;
        icon.onclick = ()=>{
            webLink = `/english/dictionary?q=${selectData}`;
            linkTag.setAttribute("href", webLink);
            linkTag.click();
        }
        searchWrapper.classList.remove("active");
    }

    function showSuggestions(list){
        let listData;
        if(!list.length){
            userValue = inputBox.value;
            listData = `<li>${userValue}</li>`;
        }else{
        listData = list.join('');
        }
        suggBox.innerHTML = listData;
    }
    
    function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocom-box-active");
    }
    function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (let i = 0; i < x.length; i++) {
            x[i].classList.remove("autocom-box-active");
        }
    }
</script>
{% include "footer.html" %}
{% endblock body %}