body, td, th {
    font-family: verdana;
    color: #404040;
}
#timetable {
    border-collapse: collapse;
}
#timetable td, #timetable th {
    width: 50%;
    border-width: 1px;
    border-spacing: 1px;
    padding: 10px 10px;
    border-style: inset;
    border-color: #CCCCCC;
}
#timetable td {
    padding-left: 1rem;
}