{% extends 'base.html' %}

{% block body %}
{% include 'english/static/learn.html' %}
{% include 'english/flashcards/styles/flashcards.html' %}

{% include "header.html" %}
{% include 'messages.html' %}
<style>
    ul.square {
    list-style-type: square;
    line-height: 1.8;
    /* list-style-position: inside; */
    }

    ul.square li:not(:last-child) {
    margin-bottom: 20px;
    }
</style>
<div class="col-sm-12 col-lg-8 p-1">
    <h1 class="text-center mt-4">Present Indefinite</h1>
    <hr>    

    <ul class="square">
        <li>इस पोस्ट में Present Indefinite Tense की पूरी जानकारी दी गई है जैसे कि इस Tense के सभी Basic points कौन कौन से हैं, इस Tense का प्रयोग कब किया जाता है। इस Tense के वाक्यों की पहचान क्या होती है।</li>
        <li>इस Tense में Do/does का प्रयोग कब किया जाता है तथा इस Tense के वाक्यों को हिन्दी से अंग्रेजी में अनुवाद करने के कौन कौन से Rules और Structure होते हैं, इत्यादि सभी चीजों को अच्छे से बताया गया है।</li>
        <li>और साथ ही साथ हर Types - Affirmative, Negative, Interrogative, W.H Question Sentences इत्यादि के ढेर सारे Examples और Exercises भी दिए गए हैं, ताकि आपको समझने मे आसानी हो सकें । और आपके सारे 'Doubt' अच्छे से clear हो सके ।</li>
    </ul>

    <h2 class="text-primary my-3">Present Indefinite Tense ke Rules, Structures, Examples, Exercises, Sentences etc. in Hindi to English</h2>

    <div class="p-2 my-2" style="background-color: #0d6efd30;">
        ★ Present Indefinite Tense का दूसरा नाम और हिंदी नाम क्या होता है?<br>
        ★ Present Indefinite Tense का दूसरा नाम (Simple Present Tense) होता है, तथा इसका हिंदी नाम अनिश्चित वर्तमान काल या सामान्य वर्तमान काल होता है।
        <ul>
            <li>Simple Present Tense : सामान्य वर्तमान् काल</li>
            <li>Indefinite Tense : अनिश्चित वर्तमान् काल</li>
        </ul>
    </div>




Present Indefinite Tense में कौन कौन से Helping verb का प्रयोग किया जाता है?
इस Tense मे Helping verb के रूप में Do या Does का प्रयोग किया जाता है।
परंतु Do या Does का प्रयोग Affirmative Sentences में नहीं किया जाता है
बल्कि इसका प्रयोग Negative, Interrogative & W.H Word Question Sentences मे helping verb के रूप में किया जाता है ।



Do Does का प्रयोग :- 

Do का प्रयोग First Person( I, We ), Second Person( You ) & Third Person( They ) के साथ किया जाता है ।
Does का प्रयोग केवल Third Person Singular( He, She, It, Name ) के साथ किया जाता है ।



Present Indefinite Tense में कौन कौन से Main Verb का प्रयोग किया जाता है ।
Main verb ( मुख्य क्रिया ) : इस Tense में main verb के रूप में verb के First form ( v1 ) और fifth form ( v5 ) का प्रयोग किया जाता है नीचे देखें ।



Root form ( v1 ) s/es/ies form ( v5 )

> Go - goes
> Try - tries

> Play Plays
> Want Wants
> Come Comes

**Present Indefinite Tense के वाक्यों की पहचान क्या होती है ।



अंग्रेजी वाक्यों की पहचान :: अंग्रेजी में वाक्य नीचे दिए गए Structures में से किसी के अनुसार हो सकते हैं। यानि कि इनमें से किसी भी Structure के अनुसार लिखे या बोले जा सकते हैं



• Subject + v1/v5.



• Subject + v1/v5 + Object.



• Subject + do/does + not + v1 + Object.



• Do/Does + Subject + (not) + v1 + Object ?



• W.H Word + do/does + Subject + (not) + V1 + Object ?



Note: वाक्य में Object का प्रयोग हो भी सकता है और नहीं भी हो सकता है। ये कोई जरूरी नहीं है कि वाक्य में Object हो ही । बिना Object के भी वाक्य हो सकते हैं।



Note: W.H Word का मतलब होता है । What, When, Why, How, Where, Who, Whom etc



Note : v1 का अर्थ Verb का मूल रूप यानि कि Verb का first form होता है और v5 का अर्थ Verb का पाँचवां रूप यानि कि s या es form होता है ।

Note : Do not और Does + not का Short Form Don't और Doesn't होता है। और आप Do not के बदले Don't और Does not के बदले Doesn't भी लिख और बोल सकते हैं।



• Do + not = Don't



• Does + not = Doesn't



हिंदी वाक्यों की पहचान : हिंदी वाक्यो के मुख्य क्रियाओ के अंत में "ता है, ती है, ते हैं, ते हो, ती हो, ता हूँ, ती हूँ।" इत्यादि लगा रहता है, तथा वाक्य के भाव से पता चलता है। कि कार्य वर्तमान् समय में होता है। जैसे



1. मै जाता हूँ। I go. Subject v1



2. मै आपको पढाता हूँ।



teach you. Subject v1 Object



3. वह मेरी मदद करता है। He helps me. Subject v5 Object



4. मै उसे नहीं जानता हूँ। I don't know him.



Subject don't v1 Object



5 क्या तुम उसे जानते हो? Do you know him ?



Do Subject v1 Object?

6. तुम उसे क्यों नहीं पढाते हो ?

Why don't you teach him ?

W.H Word don't Subject v1 Object ?



7. मै पानी पीता हूँ। I drink water.



8. मै अंग्रेजी पढता हूँ। I read english.



9. मै रोज चाय पीता हूँ। I take tea daily.

10. वह यहाँ रोज आती है। She comes here daily.



11. तुम हमेशा झूठ बोलते हो । You always tell a lie.



12. राहुल रोड पर दौड़ता है। Rahul runs on the road.



Note: Present Indefinite Tense के वाक्यों से कभी भी यह पता नहीं चलता है कि कार्य अभी बोलते बक्त हो रहा है या नहीं । इस Tense के वाक्यों से केवल यह पता चलता है कि कार्य वर्तमान समय में होता है ।



कोई कार्य वर्तमान समय में अभी बोलते वक्त हो रहा है या नहीं हो रहा है इसका पता Present Continuous Tense के वाक्यों से चलता है।



• Subject (कर्ता) किसे कहते हैं।



Subject (कर्ता): किसी भी वाक्य में क्रिया का संपादन जो करता है। उसे ही Subject (कर्ता) कहा जाता है। या फिर यूँ कहिए कि किसी भी वाक्य में जो काम को करता है। उसे ही Subject कहा जाता है। जैसे

1. मै पढता हूँ। I read.



2. वो काम करता है। He works. 3. मै आपको पढाता हूँ। I teach you.



4. हमलोग स्कूल जाते हैं। We go to school.



5. वे लोग क्रिकेट खेलते हैं। They play cricket.



यहाँ मै, वो, हमलोग, वे लोग Subjects हैं क्योंकि ये सब क्रिया (पढना, काम करना, पढाना, जाना, खेलना) का संपादन करते हैं, यानि कि काम को करते हैं।



• Verb (क्रिया ( v1, v2, v3,v4,v5 ) किसे



कहते हैं ।



Verb (क्रिया) : किसी भी वाक्य में Subject के द्वारा जिस काम को किया जाता है उस काम को Verb कहा जाता है जैसे ( जाना, आना, खेलना, पढना, खाना इत्यादि )



1. मै पढता हूँ। I read.



2. वो काम करता है। He works.



3. मै आपको पढाता हूँ। I teach you. 4. हमलोग स्कूल जाते हैं। We go to school.



5. वे लोग क्रिकेट खेलते हैं। They play cricket.



यहाँ पर पढना, काम करना, पढाना, जाना, खेलना Verb हैं। क्योंकि Subject के द्वारा यही काम किया जाता है ।

Note : verb के पाँच forms होते हैं (जैसे v1, v2, v3, v4, v5 ) और इस Tense में verb के केवल दो ही forms (v1 और v5 ) का प्रयोग किया जाता है। आप नीचे दिए गए link पर click करके verb forms वाले पोस्ट को भी पढ़ सकते हैं।



• Object ( कर्म ) किसे कहते हैं।



Object (कर्म) : किसी भी वाक्य में क्रिया का असर जिसपर पड़ता है। उसे Object कहा जाता है। यानि कि किए गए कार्य का असर जिसपर पड़ता है उसे Object कहा जाता है । जैसे



1. मै उसे पीटता हूँ। I beat him.



2. मै आपको पढाता हूँ। I teach you. 3. वह गाना गाती है। She sings a song.



4. शिक्षक हमें पढाते हैं। Teachers teach us.



5. वे लोग क्रिकेट खेलते हैं। They play cricket.



यहाँ पर उसे, आपको, गाना, हमें, क्रिकेट Object है । क्योंकि यहां क्रिया का असर इन्हीं पर पड़ रहा है। जैसे



1. मै आपको पढाता हूँ। I teach you.



इस वाक्य में "मै" Subject हूँ क्योंकि मै पढाने का काम कर रहा हूँ। और पढाना एक क्रिया है और मै पढा किसको रहा हूँ तो मै आपको पढा रहा हूँ ।

यानि कि पढाने का काम आप पर किया जा रहा है क्रिया पढाना का असर आप पर पड़ रहा है, इसलिए आप Object हो गए । इसी प्रकार सभी वाक्यों में होता है ।



When to Use of Present Indefinite Tense: Present Indefinite Tense का प्रयोग कब किया जाता है ।



Present Indefinite Tense का प्रयोग नीचें बताए गए स्थितियों में किया जाता है।



(1) Present Indefinite Tense का प्रयोग वर्तमान समय मे हम और आप जो भी कार्य करते हैं उसको बताने के लिए किया जाता है । जैसे



मै जाता हूँ।



I go.



वे लोग आते हैं ।



They come.



हमलोग यह काम करते हैं। We do this work.



राधा स्कूल जाती है । Radha goes to school.

वे लोग मेरा इंतजार करते हैं। They wait for me.



हमलोग सुबह में Exercise करते हैं । We take exercise in the morning.



(2) Present Indefinite Tense का प्रयोग मुख्यतः रोज की Activity को बताने के लिए किया जाता है यानि कि हम और आप रोज जो भी कार्य करते हैं।



चाहे वो हमारी रोज की आदत हो, नियमित या अनियमित कार्य हो, अभ्यासगत कार्य हो या बार बार होने वाले कार्य हो या फिर सामान्य रूप से होने वाले कार्य हो। उन सभी को बताने के लिए किया जाता है। जैसे



हमलोग बिहार मे रहते हैं। We live in Bihar.



वह हमेशा मेरी मदद करता है । He always helps me.



वह रोज स्कूल जाती है। She goes to school daily.



मै रोज एक कप चाय पीता हूँ। I take a cup of tea daily.



मै प्रतिदिन व्यायाम करता हूँ। I take exercise everyday.

मै रोज 6 बजे उठता हूँ।



I get up everyday at 6 o' clock.



वह हर रविवार को सिनेमा जाता है ।



He goes to the cinema every sunday.



(3) Present Indefinite Tense का प्रयोग चिरंतन सत्य (Universal truth),, सिद्धांत (Principal) तथा स्थायी कार्य व्यापार ( Permanent activity ) को बताने के लिए



किया जाता है। जैसे



तेल पानी पर तैरता है । Oil floats on water.



पानी 100°C पर उबलता है । Water boils at 100°c.



सूर्य पूरब में उगता है। The sun rises in the east.



माँ अपने बच्चों से प्यार करती है । The mother loves her children.



धरती सूर्य की चारो ओर घूमती है । The earth moves round the sun.

(4) Present Indefinite Tense का प्रयोग Human feeling, emotions तथा mental activity को व्यक्त करने के लिए किया जाता है। जैसे



हमलोग ईश्वर में विश्वास करते हैं। We believe in God.



हम अपने देश को प्यार करते हैं। We love our country.



मैं आपकी समस्या को समझता हूँ। I understand your problem.



मैं जानता हूँ कि वो इसे नहीं कर सकता । I know that he can't do this.



(5) इसके अलावा भी इसका प्रयोग कई अन्य परिस्थितियों जैसे भविष्य में होने वाले कार्यक्रम / निर्णय / शर्त / पूर्व निर्धारित योजना आदि का भाव व्यक्त करने में भी किया जाता है और इससे Future Time का बोध होता है। जैसे



मतदान कल आरंभ होगा ।



The poll starts tomorrow.



मै अगले सप्ताह मुंबई जाऊँगा ।



I go to mumbai next week.



विमान दस बजे उड़ेगा ।



The plane takes off at 10 A.Μ.

कॉलेज पुनः कब खुलेगा ?



When does the college reopen?



टेस्ट मैच कल आरंभ होगा ।



The test match starts tomorrow.



वह अगले रविवार को लंदन रवाना होगा ।



He leaves for London next Sunday.



परीक्षा सोमवार को शुरू होगी ।



The examination starts on Monday.



मुख्यमंत्री कल यहाँ आएंगे ।



The Chief Minister comes here tomorrow.



Note : इस Tense से यह बोध नहीं होता है। कि अभीष्ट कार्य अभी ( बोलते समय) हो रहा है, या फिर नहीं । ऐसा Present Continuous Tense के द्वारा व्यक्त किया जाता है Simple Present Tense प्रायः यह भाव व्यक्त करता है कि ऐसा होता है । ( ना कि ऐसा हो रहा है )



Present Indefinite Tense में कितने प्रकार के Sentences होते हैं ।



Present Indefinite Tense में सामान्यतः निम्न् प्रकार के



वाक्य होते हैं। नीचे देखें



1. Affirmative Sentences



2. Negative Sentences

3. Interrogative Sentences



4. Interrogative with Negative Sentences



5. W.H Question Sentences



6. W.H with Negative Question Sentences



[(( Rules ))]



((( Structure और Examples )))



Present Indefinite/Simple Present Tense Affirmative Sentences ke all Rules, Structures, Examples in Hindi.



Affirmative Sentences : साकारात्मक



वाक्य



1. मै सब जानता हूँ।



2. वह झूठ बोलता है।



3. वह अंग्रेजी पढाती है ।



4. मै हमेशा सच बोलता हूँ ।



5. मै रोज कोचिंग जाता हूँ।



6. मै तुम्हारे बारे में सब जानता हूँ ।



इस प्रकार के वाक्यों को हिंदी से अंग्रेजी मे translate करने के लिए नीचे दिए गए step को follow किया जाता है ।

Translating Rules : अनुवाद के नियम ।



(1) सबसे पहले Subject को लिखा जाता है।



(2) फिर Subject के अनुसार v1/v5 को लिखा जाता है।



(3) फिर Object को लिखा जाता है। तथा वाक्य के अंत में full stop (.) का प्रयोग किया जाता है ।



(4) और यदि वाक्य मे और भी शब्द दिए गए हो तो उसे Object के बाद लिखा जाता है। नीचे दिए गए Structure को देखें ।



Subject + v1/v5.



Subject + v1/v5 + Object.



v1 का अर्थ Verb का मूल रूप यानि कि Verb का first form होता है । और



v5 का अर्थ Verb का पाँचवां रूप यानि कि s या es form होता है।



Verb forms (v1, v2, v3, v4, v5 ) बनाना सीखें



किस Verb के साथ (s) और किस Verb के साथ ( es ) का प्रयोग किया जाता है।



जिस मुख्य क्रिया के अंत में O, ss, sh, ch, x लगा हो, उसमें es लगेगा

Go + es goes



Does



does



Passes = Passes



Miss + es Misses



Push + es



Pushes



Rush + es = Rushes



Fix + es Fixes



Mixes



Mixed



Teach + es = Teachers



जिस मुख्य क्रिया के अंत में Consonant + y लगा हो, उसमें y के बदले i लिखकर es लगेगा



Try + es = Tries



Cry + es = Cries



Reply + es Study + es = Studies



Replies



Marry + es = Marries



जिस मुख्य क्रिया के अंत में Vowel + y लगा हो, उसमें केवल s लगेगा



Say + s = Says



Play + s = Plays



इन Rule के अंतर्गत आने वाले Verb को छोड़कर बाकी सभी Verb के साथ केवल s लगेगा, जब Subject (कर्ता) Third Person Singular Number (He, She, It, Name)



मे हो तब ।



S या es का प्रयोग किस "Person" के साथ किया जाता है।

जब वाक्य का Subject (कर्ता) Third Person Singular Number (( He, She, It, Name)) में हो तब वाक्य में प्रयुक्त Verb में s या es लगाया जाता है। जैसे



1. वह/वो खेलता है । He plays.



2. मेरा भाई पढता है। My brother reads.



3. वह कोचिंग जाता है।



He goes to coaching.



4. वह अंग्रेजी पढाती है। She teaches english.



5. राज रोज बाजार जाता है। Raj goes to market daily.



[(( Examples : उदाहरण ))]



Present Indefinite Tense Examples in Hindi, Affirmative Sentences Examples in Hindi to English :



मै जाता हूँ। I go.



वो आती है। She comes.



वह झूठ बोलता है । He tells a lie. हमलोग क्रिकेट खेलते हैं। We play cricket. मै हमेशा सच बोलता हूँ। I always speak the truth.



मै स्कूल जाता हूँ। i go to school. मै बिहार में रहता हूँ। I live in bihar.



मै सब जानता हूँ। I know everything.



मै सब कुछ जानता हूँ। I know everything. मै वर्ग पाँच मे पढता हूँ। i read in class five.



मै कोचिंग रोज जाता हूँ। I go to coaching daily.



मै उसे पसंद करता हूँ। I like her.



मै तुमसे नफरत करती हूँ। i hate you. वह सड़क पर दौड़ता है। He runs on the road. सूर्य पूरब मे उगता है। The sun rises in the east. सर्य पश्चिम में डूबता है। The sun sets in the west

</div>
{% endblock body %}